<p><u>Partie intéresse pertinante</u> : C'est une partie intéressée qui , par ses actions , peut avoir un impact négatif ou positif
  significatif sur les resultats de l'organisme <br>
  <u>l'interet </u>: L'intérét designe le degré auquel une partie prenante accorde de l'importance a la reussit de projet <br>
  <U>Pouvoir</U> : le degré auquel une partie prenante peut influencer positivement ou negativement l'accomplisement des objective
  du projet <br>
</p>
<button class="btn "  style="float: right" (click)="onNoClick()">ok</button>

