<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">

        <div style="float: left" >
          <button class="btn btn-primary" routerLink="/historiqueOpportunite" style="float: left">historique</button>
        </div>
        <button routerLink="/ajouterOpportunite" class="btn btn-success">ajouter un opportunite</button>
        <button (click)="affficheEnjeux()"  class="btn btn-warning" >enjeux</button>
        <button (click)="afffichePIpertinante()" class="btn btn-warning">pipertinante</button>
        <div style="float: left" >
          <button class="btn btn-primary" routerLink="/CategoriesOpportunite" style="float: left">gerer categorie</button>
        </div>
        <div style="float: left" >
          <button class="btn btn-primary" routerLink="/StrategiqueOpportunite" style="float: left">gerer strategique</button>
        </div>
        <div style="float: left" >
          <button class="btn btn-primary" (click)="saveHistoriqueOpportunite()" style="float: left">Enregister etat</button>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Risque</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary" >
                  <tr>
                    <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
                  </tr>

                  </thead>
                  <tbody>
                  <tr *ngFor="let c of opportunite">
                    <td>{{c.id}}</td>
                    <td>{{c.CategorieOpportunite.nomCategorie}}</td>
                    <td>{{c.Description}}</td>
                    <td>{{c.CourtTerm}}</td>
                    <td>{{c.MoyenTerm}}</td>
                    <td>{{c.LongTerm}}</td>
                    <td>{{c.DateIdentification}}</td>
                    <td>{{c.Coherence}}</td>
                    <td>{{c.Allignement}}</td>
                    <td>{{c.Presence}}</td>
                    <td>{{c.Competences}}</td>
                    <td>{{c.Continute}}</td>
                    <td>{{c.Gain}}</td>
                    <td>{{c.Efforts}}</td>
                    <td>{{c.Aventages}}</td>
                    <td>{{c.Poids}}</td>
                    <td>{{c.Decision}}</td>
                    <td>{{c.Stategique.nomSrategique}}</td>
                    <td>{{c.ProcessLie.processus}}</td>
                    <td>  <p *ngFor="let p of c.NumAction "> {{ p.id}}</p> </td>
                    <td>{{c.Etatopportunite.nomEtatOpportunite}}</td>
                    <td>{{c.EffortReevaluation}}</td>
                    <td>{{c.AventageReevaluation}}</td>
                    <td>{{c.PoidsReevaluation}}</td>
                    <td>{{c.DecisionReevaluation}}</td>
                    <td *ngIf="c.StrategiqueEvaluation !== null">{{c.StrategiqueEvaluation.nomStrategique}}</td>
                    <td *ngIf="c.ProcessLieReevaluation !== null">{{c.ProcessLieReevaluation.processus}}</td>
                    <td>  <p *ngFor="let p of c.NumActionReevaluation "> {{ p.id}}</p> </td>
                    <td *ngIf="c.EtatopportuniteReevaluation !== null">{{c.EtatopportuniteReevaluation.nomEtatOpportunite}}</td>
                    <td>{{c.Commentaire}}</td>
                    <td><button class="btn btn-success" (click)="reevaluerOpportunite(c.id)">reevaluer</button></td>
                    <td>{{c.Pilote}}</td>
                    <td ></td>

                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>

