<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <button class="btn btn-primary" routerLink="/CreatePlandeaction" style="float: left">ajouter plan d'action</button>
        <button class="btn btn-primary" routerLink="/etatEfficacite" style="float: left">ajouter etat de efficatite</button>
        <button class="btn btn-primary" routerLink="/etatactuel" style="float: left">ajouter etat actuel</button>
        <div style="float: left" >
          <button class="btn btn-primary" routerLink="/historiqueOpportunite" style="float: left">historique</button>
        </div>

        <div class="col-md-12">
          <div >
            <div class="card-header couleurObjective">
              <h4 class="card-title"> plan de action</h4>
            </div>
            <div>
              <div class="card table-responsive">
                <table class="table">
                  <thead >
                  <tr>
                    <th *ngFor="let c of hidder" class="bordertd bg-primary">{{c}}</th><td></td><td></td><td></td>
                  </tr>

                  </thead>
                  <tbody>
                  <tr *ngFor="let c of plandeaction">
                    <td class="bordertd">{{c.id}}</td>
                    <td class="bordertd">{{c.Origin}}</td>
                    <td *ngIf="c.ExigencyInterestedParty !== null" class="bordertd">{{c.ExigencyInterestedParty.id}}</td>
                    <td *ngIf="c.Risk !== null" class="bordertd">{{c.Risk.id}}</td>
                    <td *ngIf="c.Opportunity !== null" class="bordertd">{{c.Opportunity.id}}</td>
                    <td *ngIf="c.OpportunityReevalution !== null" class="bordertd">{{c.OpportunityReevalution.id}}</td>
                    <td *ngIf="c.Objective !== null" class="bordertd">{{c.Objective.id}}</td>
                    <td class="bordertd">{{c.Description}}</td>
                    <td class="bordertd">{{c.Action}}</td>
                    <td class="bordertd">{{c.StartDatePanifies}}</td>
                    <td class="bordertd">{{c.Delai}}</td>
                    <td class="bordertd">{{c.Responsible}}</td>
                    <td class="bordertd">{{c.Director}}</td>
                    <td class="bordertd">{{c.Consult}}</td>
                    <td class="bordertd">{{c.Advancement}}%</td>
                    <td class="bordertd">{{c.ClosingCriterion}}</td>
                    <td class="bordertd">{{c.ProofOfClosure}}</td>
                    <td class="bordertd">{{c.CriteriaEfficiency}}</td>
                    <td class="bordertd">{{c.stateEfficacyActionPlan.nameStateEfficacy}}</td>
                    <td class="bordertd">{{c.currentStateActionPlan.nameCurrentState}}</td>
                    <td class="bordertd">{{c.Comment}}</td>


                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
