<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <button class="btn btn-primary" routerLink="/CreatePlandeaction" style="float: left">ajouter plan d'action</button>
        <button class="btn btn-primary" routerLink="/etatEfficacite" style="float: left">ajouter etat de efficatite</button>
        <button class="btn btn-primary" routerLink="/etatactuel" style="float: left">ajouter etat actuel</button>
        <div style="float: left" >
          <button class="btn btn-primary" routerLink="/historiqueOpportunite" style="float: left">historique</button>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Risque</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary" >
                  <tr>
                    <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
                  </tr>

                  </thead>
                  <tbody>
                  <tr *ngFor="let c of plandeaction">
                    <td>{{c.id}}</td>
                    <td>{{c.Origin}}</td>
                    <td *ngIf="c.ExigencyInterestedParty !== null">{{c.ExigencyInterestedParty.id}}</td>
                    <td *ngIf="c.Risk !== null">{{c.Risk.id}}</td>
                    <td *ngIf="c.Opportunity !== null">{{c.Opportunity.id}}</td>
                    <td *ngIf="c.OpportunityReevalution !== null">{{c.OpportunityReevalution.id}}</td>
                    <td *ngIf="c.Objective !== null">{{c.Objective.id}}</td>
                    <td>{{c.Description}}</td>
                    <td>{{c.Action}}</td>
                    <td>{{c.StartDatePanifies}}</td>
                    <td>{{c.Delai}}</td>
                    <td>{{c.Responsible}}</td>
                    <td>{{c.Director}}</td>
                    <td>{{c.Consult}}</td>
                    <td>{{c.Advancement}}</td>
                    <td>{{c.ClosingCriterion}}</td>
                    <td>{{c.ProofOfClosure}}</td>
                    <td>{{c.CriteriaEfficiency}}</td>
                    <td>{{c.StateOfEfficacy}}</td>
                    <td>{{c.CurrentState}}</td>
                    <td>{{c.Comment}}</td>


                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
