<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <button class="btn btn-primary " (click)="CreateUtilizationGuideComponent()">ajouter </button>
      <h4>liste de diffusion</h4>
      <div class="card col-md-10">
        <table class="table" >
          <thead class=" text-primary">
          <tr>
            <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let c of users">
            <td>{{c.Nom}}</td>
            <td>{{c.Role}}</td>
            <td>{{c.Organisation}}</td>
            <td><button class="btn btn-danger" (click)="DelateUtilizationGuideComponent(c.id)">supp</button></td>

            <td ></td>

          </tr>

          </tbody>

        </table>
        <mat-paginator  [length]="100"
                        [pageSize]="2"
                        [pageSizeOptions]="[1, 2, 3]" showFirstLastButtons></mat-paginator>
      </div>
      <h2>
        historique de modification
      </h2>
      <table class="table card col-md-6">
        <thead>
        <th>version</th> <th></th> <th></th><th>Modification</th><th>Nom</th> <th></th> <th></th><th>data</th>
        </thead>
        <tbody>
        <tr>
          <td>1</td><td></td><td></td> <td></td> <td></td><td></td> <td></td> <td></td>
          <td>Creation</td> <td></td> <td></td>
          <td><p>Auteur</p> <p>verificateur</p> <p>Approbateur</p></td>
          <td></td>
        </tr>
        <tr>
          <td>2</td><td></td> <td></td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td><td></td><td></td>

          <td><p>Auteur</p> <p>verificateur</p> <p>Approbateur</p></td>
        </tr>
        </tbody>
      </table>


      <div>
        <h2>
          Objectif et mode d'emploi
        </h2>
      </div>
      <div>
        <h4 class="bg-primary">
          objectif
        </h4>
        <p class="card col-md-7">Pilótos est votre outil de gestion lors de la planification de votre système management.
          Pilótos va vous aider à identifier les différents éléments que vous devez traiter lors de la mise en place
          de votre système de  management et lors de son maintien. Non seulement ça, Pilótos va visualiser
          les résultats obtenus en les synthètisant, vous aurez également une vision claire sur ce que vous
          devez faire, ce que vous avez fait et quelle est l'étape suivante.</p>
      </div>

      <div>
        <h4 class="bg-primary">
          instruction
        </h4>
        <div class="card">
          <p >Dans cette partie, vous trouverez quelques instructions utiles pour naviguez facilement dans Pilótos.</p>
          <br>
          1- Cet outil est divisé sur 10 onglets qui présentent 10 différents modules qui sont les suivants:
          <ul>
            <li>
              Instruction d'utilisation
            </li>
            <li>
              Enjeux
            </li>
            <li>
              Parties intéressées
            </li>
            <li>
              Périmètre_Politique_Processus
            </li>
            <li>
              Risques
            </li>
            <li>
              Opportunités
            </li>
            <li>
              Objectifs
            </li>
            <li>
              Plans d'action
            </li>
            <li>
              Synthèse
            </li>
            <li>
              Guide de réflexion
            </li>
          </ul>

          <br>
          2- Le guide de réflexion contient l'objectif de chacun des onglets cités au-dessus et des éléments qui aide à la réflexion sur chaque élément
          <br>
          3- Un sommaine dynamique se trouve dans chaque onglet pour se déplacer rapidement entre les onglets
          <br>
          4- Le bouton vous fournie un guide d'instructions utiles lors du remplissage de la partie concernée
          <br>
          <p>5- Le bouton <button> definition </button> comprend les définitions des éléments qui figurent dans la partie concernée </p>
          <br>
          <p>5- Le bouton <svg class="bi bi-question-octagon" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.54.146A.5.5 0 014.893 0h6.214a.5.5 0 01.353.146l4.394 4.394a.5.5 0 01.146.353v6.214a.5.5 0 01-.146.353l-4.394 4.394a.5.5 0 01-.353.146H4.893a.5.5 0 01-.353-.146L.146 11.46A.5.5 0 010 11.107V4.893a.5.5 0 01.146-.353L4.54.146zM5.1 1L1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" clip-rule="evenodd"/>
            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
          </svg> comprend les définitions des éléments qui figurent dans la partie concernée </p>
          <br>
          <p>5- Le bouton <button> enregister l'état </button> sert a enregistrer un etat de modification dans l'historique</p>

        </div>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
