
<div class="card-header panel-heading bg-primary ">
  <h5 class="card-title "> ajouter Strategique </h5>
</div>
<div class="card-body">
  <form [formGroup]="angForm" name="form" (ngSubmit)=" onSubmit() ">

    <div class="form-group">
      <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('NameStrategicOpportunity').errors && (angForm.get('NameStrategicOpportunity').touched || angForm.get('NameStrategicOpportunity').dirty ) }">
        <label class="control-label">nom categorie:</label>
        <input type="text" name="NameStrategicOpportunity"  [(ngModel)]="data.NameStrategicOpportunity"  formControlName="NameStrategicOpportunity" class="form-control">
        <div *ngIf="angForm.get('NameStrategicOpportunity').errors && (angForm.get('NameStrategicOpportunity').touched || angForm.get('NameStrategicOpportunity').dirty )" class="alert alert-danger">
          <span *ngIf="angForm.get('NameStrategicOpportunity').errors.required"></span>  categories est obligatoire
        </div>
      </div>
    </div>


    <button class="btn btn-danger"  style="float: left" (click)="onNoClick()">Annuler</button>

    <button class="btn btn-primary "  style="float: right" [disabled]="angForm.invalid" (click)="createStrategique()" >create</button>
  </form>

</div>

