<h1>Definition</h1>
<div class="form-group">
  <button (click)="DefinitionRisque" class="btn btn-success">Risque</button>
</div>
<div class="form-group">
  <button (click)="DefinitionGravite" class="btn btn-success">Gravite</button>
</div>
<div class="form-group">
  <button (click)="DefinitionProbabilite" class="btn btn-success">Probabilité</button>
</div>
<div class="form-group">
  <button (click)="DefinitionDetectabilite" class="btn btn-success">Detectabilité</button>
</div>
<div class="form-group">
  <button (click)="DefinitionCriticite" class="btn btn-success" >Criticité</button>
</div>
