.couleurHistoricalOpportunity{
  background-color: #05AE0E;
  text-align: center;
}
.seul{
  margin-left: 20px;
}
.colororange{
  background-color:#EE8900;
}

.colorbleuf{
  background-color: #63a2bb;
}

.colorsoftbleu{
  background-color: #86ccdc;
}

.textopp{
  text-align: center;
}
.colorbleu{
  background-color:#124977;

}
