
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">

      <div class="card-header colorbleu textopp text-white">
        <h2 class="card-title "> Historique des Opportunités</h2>
      </div>
      <div class="card table-responsive">
        <div>

          <input type="text" placeholder="recherche" [(ngModel)]="data.Strategique" class="form-control col-md-4">
        </div>
        <table class="table" >
          <thead class=" text-primary">
          <tr>
            <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let c of historique | filter: data.Strategique | paginate: { itemsPerPage : 5 , currentPage:p }">
            <td>{{c.id}}</td>
            <td>{{c.Etat}}</td>
            <td>{{c.Commentaire}}</td>
            <td>  <p *ngFor="let p of c.NumAction "> {{ p}}</p> </td>
            <td>{{c.Date | date}}</td>
            <td *ngIf="CreateRole()">
              <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
                <mat-icon (click)="delateHistoricalOpportunity(c)" class="text-white">delete</mat-icon>
              </button></td>

          </tr>

          </tbody>

        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>


    </div>

  </div>
</div>








