
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content container ">
      <button class="btn btn-simple" (click)="definitionpartieinteresse()" style="float: right">definition</button>
      <div>
      <button class="btn btn-danger " routerLink="/historiquepipertinante" >historque </button>
      </div>

<div class=" bg-primary">
<h1>partie intéressé </h1>

</div>
      <div class="col-md-8 card" style="float: right">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>

      <div>
 <button routerLink="/categoriesPI"  class="btn btn-warning">gérer les categories</button>
        <button class="btn btn-danger" (click)="Createpartieinteresse()">ajouter partie interesse</button>
 <div class="card col-md-3">
      <table class="table">
        <thead class=" text-primary">
        <tr>
          <th *ngFor="let c of listeCat"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let c of Nbre">
         <td> {{c.Nom}}</td>
         <td> {{c.nbre}}</td>
        </tr>
        </tbody>
      </table>
 </div>
 </div>

      <div class="med">
      <div class="card col-md-4" *ngFor="let c of users" >
        <div class="navbar" ><h4>{{c.nomcat}}</h4></div>
        <table class="table">
          <thead class=" text-primary">
          <tr>
            <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let p of c.partieinteresses ">
            <td>{{p.id}}</td>
            <td>{{p.NomPI}}</td>
            <td>{{p.Poids}}</td>

            <td ></td>

          </tr>

          </tbody>
        </table>
      </div>
      </div>





        <div class=" bg-primary">
          <h1>partie intéressé pertinante </h1>
        </div>
      <svg class="bi bi-search" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="float: right" (click)="helppiPertinante()">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
      </svg>
      <button class="btn btn-simple" (click)="definitionpiPertinante()" style="float: right">definition</button>

      <div>

        <form #f="ngForm" (ngSubmit)="setpoid()">


          <select name="id" placeholder="nom cat" [(ngModel)]="id" >

            <option *ngFor="let c of users1" value="{{c.id}}">{{c.NomPI}}</option>

          </select>
          <p>est_ce que vous voulez evaluer</p>
          <div>
            <input type="radio" name="data.nom_champ"  value="interet" [(ngModel)]="data.nom_champ">
            <label>intéret</label>

            <input type="radio" name="data.nom_champ" value="pouvoir" [(ngModel)]="data.nom_champ">
            <label >pouvoir</label>
          </div>
          <div class="form-group" *ngIf="affiche()">
            <label class="control-label"> {{data.nom_champ}}</label>
              <input type="number" name="data.interet"  [(ngModel)]="data.interet"   class="form-control">

          </div>
          <div class="form-group" *ngIf="affiche1()">
            <label class="control-label"> {{data.nom_champ}}</label>
            <input type="number" name="data.pouvoir"  [(ngModel)]="data.pouvoir"  class="form-control">

          </div>
          <div class="form-group">
            <label class="control-label">influenece </label>
            <input type="number" name="data.influence"  [(ngModel)]="data.influence"  class="form-control">
          </div>
          <button class=" btn bg-success" >evaluer</button>
        </form>




        <div style="display: block">
          <canvas baseChart [datasets]="bubbleChartData" [options]="bubbleChartOptions" [colors]="bubbleChartColors"
                  [legend]="bubbleChartLegend" [chartType]="bubbleChartType"></canvas>
        </div>





    <div class="card col-md-4 " >
        <p>voulez vous notez les exigences de vos <br> partie interesse pertinante de pilotos</p>
        <div>
          <input type="radio" name="exigence"  value="oui" [(ngModel)]="exigence">
          <label>oui</label>

          <input type="radio" name="exigence" value="non" [(ngModel)]="exigence">
          <label >non</label>
        </div>
        <div *ngIf="affexigence()">
        <button class=" btn bg-success" routerLink="/exigencesPI">definir les exigences</button>
        </div>
    </div>

        <div>
        <form #f="ngForm" (ngSubmit)="pipertinante()">
        <div class="form-group">
          <label class="control-label">quel est votre seul de pertinances ? pouvoir/interet </label>
          <input type="number" name="seul"  [(ngModel)]="idseul" class="form-control">
        </div>
          <button class=" btn bg-success"  >afficher les PI pertinante</button>
        </form>
          </div>
      </div>


      <div class="card col-md-11">

        <div class=" navbar "> <h4>liste des partie interessé pertinante </h4></div>
        <mat-form-field style="float: right" >
          <input matInput (keyup)="search()" [(ngModel)]="NomPI" placeholder="Filter">
        </mat-form-field>
        <table class="table" *ngIf="affiche1()">
          <thead>
          <tr>
            <th *ngFor="let c of pertinantePouvoir"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let c of pipert " >
            <td>Pi{{c.id}}</td>
            <td>{{c.NomPI}}</td>
            <td >{{c.nomcat}}</td>
            <td >{{c.Influence}}</td>
            <td >{{c.Pouvoir}}</td>
            <td >{{c.Poids}}</td>
            <td></td>

          </tr>

          </tbody>
        </table>

        <table class="table" *ngIf="affiche()">
          <thead>
          <tr>
            <th *ngFor="let c of pertinanteInteret"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let c of pipert " >
            <td>Pi{{c.id}}</td>
            <td>{{c.NomPI}}</td>
            <td >{{c.nomcat}}</td>
            <td >{{c.Influence}}</td>
            <td >{{c.interet}}</td>
            <td >{{c.Poids}}</td>
            <td></td>

          </tr>

          </tbody>
        </table>


      </div>

      <button class=" btn bg-success" (click)="savehistoriquepi()" >sauvgarde historique</button>


    </div>
    <footer-cmp></footer-cmp>



    </div>
<fixedplugin-cmp></fixedplugin-cmp>

