
<div class="card-body">
  <form >
    <h1>Retrouvez votre compte</h1> <br>
    <label>Veuillez saisir votre adresse e-mail ou votre numéro de téléphone pour rechercher votre compte </label>
    <div class="form-group">
      <label class="control-label">token:</label>
      <input type="text" name="token"  [(ngModel)]="token" class="form-control">
    </div>
    <div class="form-group">
      <label class="control-label">password:</label>
      <input type="text" name="password"  [(ngModel)]="data.password" class="form-control">
    </div>

    <button class="btn btn-danger "  style="float: left"  >annuler</button>
    <button class="btn btn-primary "  style="float: right"  (click)="forgettpassword()" >chercher</button>

  </form>

</div>
