
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content " >

<div class=" bg-primary">
  <h1>Parties intéressées</h1>
</div>
      <h2 class="text-primary">Objectifs de la feuille "Parties intéressées"</h2>
<p>Dans la feuille "Parties intéressées" vous êtes censés d'identifier vos parties intéressées.
  Vous trouvez un exemples de différentes catégories pour les classer. A la suite, il y aura la partie d'évaluation
  des parties intéressées afin d'extraire ceux qui sont pertinentes à l'aide de la matrice Pouvoir/ Influence
  ou la matrice Intérêt/Influance dont vous trouvez l'explication dans le bouton "Loupe". Ainsi les parties intéressées
  pertinentes seront synthétiser dans le tableau qui suit avec leurs poids. Vous pouvez aussi choisir
  d'identifier les exigences de ces parties dans l'outil ou ailleurs.
  Vous trouvez également d'autre synthèse dans la feuille "Synthèse".</p>
<div class="col-md-8">
  <h6>Ces questions vous aidera à rafraichir votre memoire afin de parcourir toutes vos parties intéressées.</h6>
  <table class="table card">
    <thead class="bg-warning">
    <th>Ctegories</th>
    <th>Question</th>
    </thead>
    <tbody>
    <td rowspan="4">PI internes</td>
    <tr>
      <td>Est ce que vous avez pensé à vos salariés ?   </td>
    </tr>
    <tr>
      <td>Est-ce que vous avez pensé à vos managers ?     </td>
    </tr>
    <tr>
      <td>Est-ce que vous avez pensé au corps administratif ? </td>
    </tr>

    <td rowspan="7">Clients</td>
    <tr>
      <td>Qui sont vos clients actuels ?    </td>
    </tr>
    <tr>
      <td>Qui sont les clients que vous jugez potentiels pour vos activités ?       </td>
    </tr>
    <tr>
      <td>Pensez aux clients de vos concurrents ! </td>
    </tr>
    <tr>
      <td>Pensez aux clients de vos fournisseurs ! </td>
    </tr>
    <tr>
      <td>Pensez aux clients que vous avez travaillé avec auparavant ! </td>
    </tr>
    <tr>
      <td>Les clients de vos partenaires sont ils potentiels pour votre activité ?</td>
    </tr>


    <td rowspan="6">Fournisseurs </td>
    <tr>
      <td>Qui sont vos fournisseurs actuels ?     </td>
    </tr>
    <tr>
      <td>Les fournisseurs de vos clients sont-ils potentiels pour votre activité ?        </td>
    </tr>
    <tr>
      <td>Les fournisseurs de vos partenaires sont ils potentiels pour votre activité ?  </td>
    </tr>
    <tr>
      <td>Est-ce que vous avez réfléchi sur les fournisseurs de vos concurrents ?  </td>
    </tr>
    <tr>
      <td>Qui sont les fournisseurs que vous jugez potentiels pour vos activités ?   </td>
    </tr>


    <td rowspan="5">Partenaires  </td>
    <tr>
      <td>Qui sont vos partenaires actuels ?      </td>
    </tr>
    <tr>
      <td>Est-ce que vous êtes intéressées par les partenaires de vos concurrents ?       </td>
    </tr>
    <tr>
      <td>Est-ce que vous avez pensé aux partenaires de vos clients ?   </td>
    </tr>
    <tr>
      <td>Qui sont les partenaires que vous jugez potentiels pour vos activités ?    </td>
    </tr>

    <td rowspan="5">Autorités  </td>
    <tr>
      <td>Quels sont les établissements et les organisations gouvernementals nationals qui touchent votre activité?       </td>
    </tr>
    <tr>
      <td>Quels sont les établissements et les organisations gouvernementals internationals qui touchent votre activité?       </td>
    </tr>
    <tr>
      <td>Est-ce qu'il y a des réglementations sur vos produits dans les pays où il est vendu ?   </td>
    </tr>
    <tr>
      <td>Est-ce que votre activité touche à des autorités de réglementation?   </td>
    </tr>

    <td rowspan="4">Société civile   </td>
    <tr>
      <td>Est-ce que votre activité à une ralation avec des Organisations non gouvernementales ?       </td>
    </tr>
    <tr>
      <td>Est-ce que vous avez pensé aux parties intéressées qui sont hors votre activité professionnelle ?        </td>
    </tr>
    <tr>
      <td>Est-ce que votre activité à une relations avec les établissements des études supérieures?    </td>
    </tr>

    <td rowspan="3">Autres catégories   </td>
    <tr>
      <td>Est-ce que vous avez besoin des réseaux sociaux pour votre activité?       </td>
    </tr>
    <tr>
      <td>Est-ce que vous avez besoin de média pour votre activité?        </td>
    </tr>



    </tbody>
  </table>
</div>
<div class="col-md-8">
  <h6>Lors de l'évaluation des PIs, vous pouvez vous posez les questions
    suivantes pour faciliter l'attribution des points </h6>
  <table class="table card">
    <thead>
    <th></th>
    </thead>
    <tbody>
    <td rowspan="4">Intérêt </td>
    <tr>
      <td>Quel intérêt vous avez pour cette partie intéressée ?        </td>
    </tr>
    <tr>
      <td>Quel intérêt cette partie intéressées a-t-elle pour votre organisme ?        </td>
    </tr>
    <tr>
      <td>Quel bénéfice peut votre organisme en tire profit de cette partie intéressée?     </td>
    </tr>

    <td rowspan="5">Pouvoir  </td>
    <tr>
      <td>Quel sera l'impact sur votre organisme si vous ne prenez pas
        en considération la demande de la partie intéressée?       </td>
    </tr>
    <tr>
      <td>En cas de retard du service d'une partie intéressées qu'est ce qu'il peut se passer ?       </td>
    </tr>
    <tr>
      <td>Lors de l'absence de cette partie intéressée, est ce que vous pouvez assurer la continuité de vos activités ?      </td>
    </tr>
    <tr>
      <td>Est-ce que votre activité dépend de la partie intéressée ?      </td>
    </tr>

    <td rowspan="6">Influence   </td>
    <tr>
      <td>Que se passe t-il si une parties intéressées se manifeste avant le temps prévu ?      </td>
    </tr>
    <tr>
      <td>Quel est l'impact sur vos planing en cas d'absence de cette partie intéressées ?       </td>
    </tr>
    <tr>
      <td>Quel est l'impact sur vos produits en cas d'absence de cette partie intéressées ?     </td>
    </tr>
    <tr>
      <td>  Est-ce que cette partie intéressée peut influer vos compétences ?    </td>
    </tr>
    <tr>
      <td>Quel est l'impact financier de l'absence de cette partie intéressée ?    </td>
    </tr>

    </tbody>
  </table>
</div>
<div class="col-md-4">
  <table class="table card">
    <thead>
    <th colspan="2">pouvoir</th>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>La PI a un pouvoir infinitisimale sur l'activité de l'entreprise </td>
    </tr>
    <tr>
      <td>2</td>
      <td>La PI a un pouvoir mineur sur l'activité de l'entreprise  </td>
    </tr>
    <tr>
      <td>3</td>
      <td>La PI a un pouvoir moyen sur l'activité de l'entreprise  </td>
    </tr>
    <tr>
      <td>4</td>
      <td>La PI a un pouvoir élevé sur l'activité de l'entreprise </td>
    </tr>
    <tr>
      <td>5</td>
      <td>La PI est indisponsable pour l'activité de l'entreprise </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-md-4">
  <table class="table card">
    <thead>
    <th colspan="2">intéret</th>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Non intéressée </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Légérement intéressée  </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Moyennement intéressée</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Intéressée</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Fortement intéressée  </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-md-4">
  <table class="table card">
    <thead>
    <th colspan="2">Influence</th>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Non influant </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Légérement influant  </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Moyennement influant  </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Influant </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Fortement influant  </td>
    </tr>
    </tbody>
  </table>
</div>
    </div>

  </div>

</div>
