
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content" >

      <div class="col-md-6">
        <button class="btn btn-primary " (click)="CreateCurrentState()">ajouter categories</button>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="CurrentState" class="example-table table"
                 matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>id</th>
              <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>

            <!-- Product Price Column -->
            <ng-container matColumnDef="NameCategory">
              <th mat-header-cell *matHeaderCellDef>Nom Catégories </th>
              <td mat-cell *matCellDef="let row">{{row.NameCurrentState}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="hidder"></tr>
            <tr mat-row *matRowDef="let row; columns: hidder;" ></tr>
            </table>

      </div>


    </div>

  </div>
</div>

<fixedplugin-cmp></fixedplugin-cmp>
