<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="card-header couleurHistoricalRisk">
        <h2 class="card-title"> historique Risque</h2>
      </div>
      <div class="card table-responsive">
        <div>
          <h3>chercher : </h3>
          <input type="text" placeholder="search" [(ngModel)]="data.Strategique" class="form-control col-md-4">
        </div>
        <table class="table" >
          <thead class=" text-primary">
          <tr>
            <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let c of historique | filter: data.Strategique | paginate: { itemsPerPage : 5 , currentPage:p } ">
            <td>{{c.id}}</td>
            <td>{{c.Criticite}}</td>
            <td>{{c.Decision}}</td>
            <td>{{c.Strategique}}</td>
            <td>{{c.Processlie}}</td>
            <td>{{c.EtatRisque}}</td>
            <td>{{c.Commentaires}}</td>
            <td><p *ngFor="let p of c.NumAction "> {{ p}}</p> </td>
            <td>{{c.Date | date}}</td>

            <td><button class="btn btn-danger" (click)="delateHistoricalRisk(c)">supp</button></td>

          </tr>

          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>


    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>



