<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <h1>+ Ajouter un plan d'action</h1>

          <div class="card-body">
            <form>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Origine</label>
                <div class="col-sm-6">
                  <select name="Origin" placeholder="nom cat"  [(ngModel)]="data.Origin" type="number" class="form-control" >
                    <option value="">--Origine--</option>
                    <option value="Exigence pi">Exigence pi</option>
                    <option value="Risque">Risque</option>
                    <option value="Opportunite">Opportunité</option>
                    <option value="OpportuniteReevaaluation">Opportunité réévaluation</option>
                    <option value="Objective" >Objectif</option>
                  </select>
                </div>
              </div>



              <div class="form-group row" *ngIf="data.Origin == 'Exigence pi'">
                  <label class="col-sm-2 col-form-label">exigence :</label>
                  <div class="col-sm-6">
                <select  name="idExigency" placeholder="nom cat" [(ngModel)]="data.idExigency" type="number" class="form-control">

                  <option value="">--choisir exigence--</option>
                  <option *ngFor="let c of exigencepi" value="{{c.id}}">{{c.id}}</option>

                </select>
              </div>
              </div>
              <div  class="form-group row" *ngIf="data.Origin == 'Risque'">
                <label class="col-sm-2 col-form-label">Risque :</label>
                <div class="col-sm-6">
                <select  name="idRisk" placeholder="nom cat" [(ngModel)]="data.idRisk" type="number" class="form-control" >

                  <option value="">--choisir Risque--</option>
                  <option *ngFor="let c of risque" value="{{c.id}}">{{c.id}}</option>

                </select>
                </div>
              </div>
              <div  class="form-group row" *ngIf="data.Origin == 'Objective'">
                <label class="col-sm-2 col-form-label">Objective :</label>
                <div class="col-sm-6">
                <select  name="idObjective" placeholder="nom cat" [(ngModel)]="data.idObjective" type="number" class="form-control">

                  <option value="">--choisir objective--</option>
                  <option *ngFor="let c of objective" value="{{c.id}}">{{c.id}}</option>

                </select>
                </div>
              </div>
              <div class="form-group row"  *ngIf="data.Origin == 'Opportunite'">
                <label class="col-sm-2 col-form-label">Opportunité :</label>
                <div class="col-sm-6">
                <select  name="idOpportunity" placeholder="nom cat" [(ngModel)]="data.idOpportunity" type="number" class="form-control" >

                  <option value="">--choisir opportunité--</option>
                  <option *ngFor="let c of opportunite" value="{{c.id}}">{{c.id}}</option>

                </select>
                </div>
              </div>
              <div class="form-group row"  *ngIf="data.Origin == 'OpportuniteReevaaluation'">
                <label class="col-sm-2 col-form-label">Opportunité :</label>
                <div class="col-sm-6">
                <select  name="idOpportunityreevaluation" placeholder="nom cat" [(ngModel)]="data.idOpportunityreevaluation" type="number" class="form-control"  >

                  <option value="">--choisir strategique--</option>
                  <option *ngFor="let c of opportunite" value="{{c.id}}">{{c.id}}</option>

                </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Action</label>
                <div class="col-sm-6">
                  <input type="text" name="Action"  [(ngModel)]="data.Action" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date Debut Panifie : </label>
                <div class="col-sm-6">
                  <input type="date" name="StartDatePanifies"  [(ngModel)]="data.StartDatePanifies" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Delai: </label>
                <div class="col-sm-6">
                  <input type="text" name="Delai"  [(ngModel)]="data.Delai" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Respensable: </label>
                <div class="col-sm-6">
                  <input type="text" name="Responsible"  [(ngModel)]="data.Responsible" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Realisateur: </label>
                <div class="col-sm-6">
                  <input type="text" name="Director"  [(ngModel)]="data.Director" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Consulter: </label>
                <div class="col-sm-6">
                  <input type="text" name="Consult"  [(ngModel)]="data.Consult" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Avencement: </label>
                <div class="col-sm-6">
                  <input type="number" name="Advancement"  [(ngModel)]="data.Advancement" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Critere De Cloture: </label>
                <div class="col-sm-6">
                  <input type="text" name="ClosingCriterion"  [(ngModel)]="data.ClosingCriterion" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Preuve De Cloture: </label>
                <div class="col-sm-6">
                  <input type="text" name="ProofOfClosure"  [(ngModel)]="data.ProofOfClosure" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Critaire de Efficacite : </label>
                <div class="col-sm-6">
                  <input type="text" name="CriteriaEfficiency"  [(ngModel)]="data.CriteriaEfficiency" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">etat d'efficacité :</label>
                <div class="col-sm-6">
                <select  name="StateOfEfficacy" placeholder="nom cat" [(ngModel)]="data.StateOfEfficacy" type="number" class="form-control" >
                  <option value="">--choisir etate de efficacité--</option>
                  <option *ngFor="let c of StateEfficacity" value="{{c.id}}">{{c.NameStateEfficacy}}</option>

                </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">etat actuel :</label>
                <div class="col-sm-6">
                <select  name="CurrentState" placeholder="nom cat" [(ngModel)]="data.CurrentState" type="number" class="form-control" >

                  <option value="">--choisir etat actuel--</option>
                  <option *ngFor="let c of CurrentState" value="{{c.id}}">{{c.NameCurrentState}}</option>

                </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Commentaire: </label>
                <div class="col-sm-6">
                  <input type="text" name="Comment"  [(ngModel)]="data.Comment" class="form-control">
                </div>
              </div>

              <button class="btn btn-danger distance" routerLink="/categoriesPI" style="float: left">Annuler</button>
              <div class="col-sm-8">
              <button class="btn btn-primary "  style="float: right"  (click)="CreateActionPlan()">create</button>
              </div>
            </form>
          </div>

    </div>

  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
