
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div>
        <h2 class="card-title "> Ajouter enjeu externe </h2>
      </div>
      <div class="card-body">
        <form [formGroup]="angForm" name="form"  (ngSubmit)=" onSubmit() ">

          <div class="form-group">
            <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Description').errors && (angForm.get('Description').touched || angForm.get('Description').dirty ) }">
              <label class="control-label">Description</label>
              <input type="text" name="Description" formControlName="Description" [(ngModel)]="data.Description" class="form-control">
              <div *ngIf="angForm.get('Description').errors && (angForm.get('Description').touched || angForm.get('Description').dirty )" class="alert alert-danger">
                <span *ngIf="angForm.get('Description').errors.required"></span>le champ  description est obligatoire
              </div>
            </div>
          </div>

          <div>
            <div>
              <label>Type d'enjeu</label>
            </div>
            <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Type').errors && (angForm.get('Type').touched || angForm.get('Type').dirty ) }">
              <select name="Type" placeholder="role"  formControlName="Type" [(ngModel)]="data.Type" class="form-control">

                <option value="">--choisir type--</option>
                <option value="api/type_stakes/3">Opportunité</option>
                <option value="api/type_stakes/4">Menace</option>
              </select>
              <div *ngIf="angForm.get('Type').errors && (angForm.get('Type').touched || angForm.get('Type').dirty )" class="alert alert-danger">
                <span *ngIf="angForm.get('Type').errors.required"></span>le champ   type est obligatoire
              </div>
            </div>
          </div>

          <div>
            <div>
              <label>Catégorie</label>
            </div>
            <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('CategoryStakeExternal').errors && (angForm.get('CategoryStakeExternal').touched || angForm.get('CategoryStakeExternal').dirty ) }">
              <select name="CategoryStakeExternal" placeholder="nom cat" formControlName="CategoryStakeExternal" id="pet-select" [(ngModel)]="data.CategoryStakeExternal" class="form-control">

                <option value="">--choisir catégorie--</option>
                <option *ngFor="let c of CategoryExternal" value="api/category_stake_externals/{{c.id}}">{{c.NameCategoryStakExternal}}</option>

              </select>
              <div *ngIf="angForm.get('CategoryStakeExternal').errors && (angForm.get('CategoryStakeExternal').touched || angForm.get('CategoryStakeExternal').dirty )" class="alert alert-danger">
                <span *ngIf="angForm.get('CategoryStakeExternal').errors.required"></span>le champ catégorie est obligatoire
              </div>
            </div>
          </div>

          <button class="btn btn-danger" style="float: left ">Annuler</button>

          <button class="btn btn-primary "  [disabled]="angForm.invalid"  style="float: right"  (click)="CreateStakeExternal()"  >Créer</button>
        </form>

      </div>

    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>







