<h1>Definition</h1>
<div class="form-group">
  <button (click)="DefinitionRisk()" class="btn btn-success">Risque</button>
</div>
<div class="form-group">
  <button (click)="DefinitionGravity()" class="btn btn-success">Gravite</button>
</div>
<div class="form-group">
  <button (click)="DefinitionProbability()" class="btn btn-success">Probabilité</button>
</div>
<div class="form-group">
  <button (click)="DefinitionDetectability()" class="btn btn-success">Detectabilité</button>
</div>
<div class="form-group">
  <button (click)="DefinitionCriticity()" class="btn btn-success" >Criticité</button>
</div>
<button class="btn btn-primary" (click)="onNoClick()">ok</button>

