
          <div class="card-header panel-heading bg-primary ">
            <h5 class="card-title "> ajouter processus </h5>
          </div>
          <div class="card-body">
            <form  [formGroup]="angForm" name="form"  (ngSubmit)=" onSubmit() " >

              <div class="form-group">
                <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Processus').errors && (angForm.get('Processus').touched || angForm.get('Processus').dirty ) }">
                <label class="control-label"> processus:</label>
                <input type="text" name="Processus" formControlName="Processus" [(ngModel)]="data.Processus" class="form-control">
                  <div *ngIf="angForm.get('Processus').errors && (angForm.get('Processus').touched || angForm.get('Processus').dirty )" class="alert alert-danger">
                    <span *ngIf="angForm.get('Processus').errors.required"></span>  processus est obligatoire
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('IndicateurPerformance').errors && (angForm.get('IndicateurPerformance').touched || angForm.get('IndicateurPerformance').dirty ) }">
                <label class="control-label"> indicateur de performance :</label>
                <input type="text" name="IndicateurPerformance" formControlName="IndicateurPerformance" [(ngModel)]="data.IndicateurPerformance" class="form-control">
                  <div *ngIf="angForm.get('IndicateurPerformance').errors && (angForm.get('IndicateurPerformance').touched || angForm.get('IndicateurPerformance').dirty )" class="alert alert-danger">
                    <span *ngIf="angForm.get('IndicateurPerformance').errors.required"></span>  indicateur est obligatoire
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Pilote').errors && (angForm.get('Pilote').touched || angForm.get('Pilote').dirty ) }">
                <label class="control-label">pilote :</label>
                <input type="text" name="Pilote" formControlName="Pilote" [(ngModel)]="data.Pilote" class="form-control">
                  <div *ngIf="angForm.get('Pilote').errors && (angForm.get('Pilote').touched || angForm.get('Pilote').dirty )" class="alert alert-danger">
                    <span *ngIf="angForm.get('Pilote').errors.required"></span>  pilote est obligatoire
                  </div>
                </div>
              </div>


              <button class="btn btn-danger"  style="float: left">Annuler</button>

              <button class="btn btn-primary " [disabled]="angForm.invalid" style="float: right"  (click)="CreateProcessus()" >create</button>
            </form>

          </div>


