<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">

        <div style="float: left" >
          <button class="btn btn-primary" routerLink="/historiqueObjective" style="float: left">historique</button>
        </div>
        <button routerLink="/ajouterObjective" class="btn btn-success">ajouter un objective</button>
        <button (click)="affficheEnjeux()"  class="btn btn-warning" >enjeux</button>
        <button (click)="afffichePIpertinante()" class="btn btn-warning">pipertinante</button>

        <div style="float: left" >
          <button class="btn btn-primary" (click)="saveHistoriqueOpportunite()" style="float: left">Enregister etat</button>
        </div>
        <div class="col-md-12">
          <div >
            <div class="card-header couleurObjective">
              <h4 class="card-title"> Objective</h4>
            </div>
            <div >
              <div class=" card table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th colspan="15" class="couleurIdentification">description et planification</th>
                    <th colspan="4" class="couleurEvaluation">Avencement et evaluation</th>
                  </tr>
                  <tr>
                    <th rowspan="2" class="bordertd bg-primary">id</th>
                    <th rowspan="2" class="bordertd bg-primary">Description</th>
                    <th rowspan="2" class="bordertd bg-primary">Enjeu</th>
                    <th colspan="6" class="couleurIdentification">delai</th>
                    <th rowspan="2" class="bordertd bg-primary">ProcessLie</th>
                    <th rowspan="2" class="bordertd bg-primary">IndicateurPredefini</th>
                    <th rowspan="2" class="bordertd bg-primary">IndicateurPerformance</th>
                    <th rowspan="2" class="bordertd bg-primary">ObjectiveAAtendre</th>
                    <th rowspan="2" class="bordertd bg-primary">EtatInitial</th>
                    <th rowspan="2" class="bordertd bg-primary">NumAction</th>
                    <th rowspan="2" class="bordertd bg-primary">EtatActuelIndiacteur</th>
                    <th rowspan="2" class="bordertd bg-primary">Avencement</th>
                    <th rowspan="2" class="bordertd bg-primary">EtatActuel</th>
                    <th rowspan="2" class="bordertd bg-primary">Commentaire</th>
                  </tr>

                  <tr>

                    <th  class="bordertd bg-primary">Temps1</th>
                    <th  class="bordertd bg-primary">Temps2</th>
                    <th  class="bordertd bg-primary">Temps3</th>
                    <th  class="bordertd bg-primary">Temps4</th>
                    <th  class="bordertd bg-primary">Temps2020</th>
                    <th  class="bordertd bg-primary">Temps2021</th>


                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let c of objective">
                    <td class="bordertd">Obj{{c.id}}</td>
                    <td class="bordertd">{{c.Description}}</td>
                    <td class="bordertd">{{c.DescriptionStake}}</td>
                    <td *ngIf="c.Time1 == 'R'" class="bg-danger bordertd">{{c.Time1}}</td>
                    <td *ngIf="c.Time1 == 'V'" class="bg-success bordertd">{{c.Time1}}</td>
                    <td *ngIf="c.Time1 == 'X'" class="bordertd">{{c.Time1}}</td>
                    <td *ngIf="c.Time2 == 'R'" class=" bg-danger bordertd">{{c.Time2}}</td>
                    <td *ngIf="c.Time2 == 'V'" class=" bg-success bordertd">{{c.Time2}}</td>
                    <td *ngIf="c.Time2 == 'X'" class="bordertd">{{c.Time2}}</td>
                    <td *ngIf="c.Time3 == 'R'" class=" bg-danger bordertd">{{c.Time3}}</td>
                    <td *ngIf="c.Time3 == 'V'" class="bg-success bordertd">{{c.Time3}}</td>
                    <td *ngIf="c.Time3 == 'X'" class="bordertd">{{c.Time3}}</td>
                    <td *ngIf="c.Time4 == 'R'" class=" bg-danger bordertd">{{c.Time4}}</td>
                    <td *ngIf="c.Time4 == 'V'" class=" bg-success bordertd">{{c.Time4}}</td>
                    <td *ngIf="c.Time4 == 'X'" class="bordertd">{{c.Time4}}</td>
                    <td *ngIf="c.Time2020 == 'R'" class="bg-danger bordertd">{{c.Time2020}}</td>
                    <td *ngIf="c.Time2020 == 'V'" class=" bg-success bordertd">{{c.Time2020}}</td>
                    <td *ngIf="c.Time2020 == 'X'" class="bordertd">{{c.Time2020}}</td>
                    <td *ngIf="c.Time2021 == 'R'" class="bg-danger bordertd">{{c.Time2021}}</td>
                    <td *ngIf="c.Time2021 == 'V'" class=" bg-success bordertd">{{c.Time2021}}</td>
                    <td *ngIf="c.Time2021 == 'X'" class="bordertd">{{c.Time2021}}</td>
                    <td class="bordertd">{{c.ProcessLie.process}}</td>
                    <td class="bordertd">{{c.PredefinedIndicator}}</td>
                    <td class="bordertd">{{c.PerformanceIndicator}}</td>
                    <td class="bordertd">{{c.ObjectiveToWait}}</td>
                    <td class="bordertd">{{c.InitialState}}</td>
                    <td class="bordertd">  <p *ngFor="let p of c.NumAction "> {{ p.id}}</p> </td>
                    <td class="bordertd">{{c.CurrentStateIndiactor}}</td>
                    <td *ngIf="c.Advancement !== null" class="bordertd">{{c.Advancement}}%</td>
                    <td *ngIf="c.Advancement == null" class="bordertd"></td>
                    <td class="bordertd">{{c.CurrentState}}</td>
                    <td class="bordertd">{{c.Comment}}</td>

                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
