<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">

        <div style="float: left" >
          <button class="btn btn-primary" routerLink="/historiqueObjective" style="float: left">historique</button>
        </div>
        <button routerLink="/ajouterObjective" class="btn btn-success">ajouter un objective</button>
        <button (click)="affficheEnjeux()"  class="btn btn-warning" >enjeux</button>
        <button (click)="afffichePIpertinante()" class="btn btn-warning">pipertinante</button>

        <div style="float: left" >
          <button class="btn btn-primary" (click)="saveHistoriqueOpportunite()" style="float: left">Enregister etat</button>
        </div>
        <div class="col-md-12">
          <div >
            <div class="card-header couleurObjective">
              <h4 class="card-title"> Objective</h4>
            </div>
            <div >
              <div class=" card table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th *ngFor="let c of hidder" class="bordertd bg-primary">{{c}}</th><td></td><td></td><td></td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let c of objective">
                    <td class="bordertd">{{c.id}}</td>
                    <td class="bordertd">{{c.Description}}</td>
                    <td class="bordertd">{{c.DescriptionStake}}</td>
                    <td class="bordertd">{{c.Time1}}</td>
                    <td class="bordertd">{{c.Time2}}</td>
                    <td class="bordertd">{{c.Time3}}</td>
                    <td class="bordertd">{{c.Time4}}</td>
                    <td class="bordertd">{{c.Time2020}}</td>
                    <td class="bordertd">{{c.Time2021}}</td>
                    <td class="bordertd">{{c.ProcessLie.process}}</td>
                    <td class="bordertd">{{c.PredefinedIndicator}}</td>
                    <td class="bordertd">{{c.PerformanceIndicator}}</td>
                    <td class="bordertd">{{c.ObjectiveToWait}}</td>
                    <td class="bordertd">{{c.InitialState}}</td>
                    <td class="bordertd">  <p *ngFor="let p of c.NumAction "> {{ p.id}}</p> </td>
                    <td class="bordertd">{{c.CurrentStateIndiactor}}</td>
                    <td class="bordertd">{{c.Advancement}}</td>
                    <td class="bordertd">{{c.CurrentState}}</td>
                    <td class="bordertd">{{c.Comment}}</td>

                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
