<p>hhhhhhhhla matrice interet/ influence:
*influence>=3,interet>=3: ce sont les personnesque vous devez engager et faire le plus grand effortpour les garder
*influence<3,interet>=3: mettre assez de travail pour ses personnes pour les garder satisfaits mais pas tellement pour qu'elles
ne s'ennuient pas de vos messages
*influence>=3,interet <3:garder ses personnes suffisamment informées et leurs parler pour s'assurer qu'aucun problème majeur ne se pose
*influence <3,interet<3:surveiller ses personnes mais ne pas les ennuyer avec une communication excessive</p>
