.distance{
  padding-left: 100px;
  padding-right: 80px;
  margin-left: 100px;
}
.alignement{
padding-left: 50px;
}
.alignementPI{
  padding-left: 50px;
}
.bordertd{
  border-style: solid;
  border-width: 1px;
}
.colorInterestedParty{
  background-color: #05AE0E;
  text-align: center;
}

.colorbleu{
  background-color:#124977;

}

.colororange{
  background-color:#EE8900;
}

