
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content container ">
      <button class="btn btn-simple" (click)="definitionInterestedParty()" style="float: right">definition</button>
      <div>
        <button class="btn btn-danger " routerLink="/historiquepipertinante" >historque </button>
      </div>

      <div class=" bg-primary">
        <h1>partie intéressé </h1>

      </div>
      <div class="col-md-8 card" style="float: right">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>

      <div>
        <button routerLink="/categoriesPI"  class="btn btn-warning">gérer les categories</button>
        <button class="btn btn-success" routerLink="/listePartieinteresse">ajouter partie interesse</button>
        <div class=" col-md-3">
          <table mat-table [dataSource]="Nbre" class="example-table table  "
                 matSort matSortActive="id" matSortDisableClear matSortDirection="asc">
            <!-- Product Price Column -->
            <ng-container matColumnDef="categorie">
              <th mat-header-cell *matHeaderCellDef>categorie </th>
              <td mat-cell *matCellDef="let row"> {{row.Nom}} </td>
            </ng-container>
            <ng-container matColumnDef="nbre" >
              <th mat-header-cell *matHeaderCellDef  >nbre </th>
              <td mat-cell *matCellDef="let row" > {{row.nbre}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="listeCat"></tr>
            <tr mat-row *matRowDef="let row; columns: listeCat;" ></tr>
          </table>
        </div>
      </div>



      <div class="med">
        <div class=" col-md-4" *ngFor="let c of CategoryByInterestedParty" >
          <div class="navbar colorInterestedParty" ><h4>{{c.NameCategory}}</h4></div>
          <table mat-table [dataSource]="c.intersetedParties" class="example-table table "
                 matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>id</th>
              <td mat-cell *matCellDef="let row" > {{row.id}}</td>
            </ng-container>

            <!-- Product Price Column -->
            <ng-container matColumnDef="pi">
              <th mat-header-cell *matHeaderCellDef>partie interessé </th>
              <td mat-cell *matCellDef="let row" > {{row.NameInterestedParty}} </td>
            </ng-container>
            <ng-container matColumnDef="poids"  >
              <th mat-header-cell *matHeaderCellDef>poids </th>
              <td mat-cell *matCellDef="let row" > {{row.Weight}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="hidder"></tr>
            <tr mat-row *matRowDef="let row; columns: hidder;" ></tr>
          </table>
        </div>
      </div>
      <div class=" bg-primary">
        <h1>partie intéressé pertinante </h1>
      </div>
      <svg class="bi bi-search" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="float: right" (click)="helpInterestedPartyRevelant()">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
      </svg>
      <button class="btn btn-simple" (click)="definitionInterestedPartyRevelant()" style="float: right">definition</button>

      <div>

        <form #f="ngForm" (ngSubmit)="getWeight()">


          <select name="id" placeholder="nom cat" [(ngModel)]="id"   >

            <option *ngFor="let c of InteresetedParty" value="{{c.id}}">{{c.NameInterestedParty}}</option>

          </select>
          <p>est_ce que vous voulez evaluer</p>
          <div>
            <input type="radio" name="data.nom_champ"  value="interet" [(ngModel)]="data.nom_champ">
            <label>intéret</label>

            <input type="radio" name="data.nom_champ" value="pouvoir" [(ngModel)]="data.nom_champ">
            <label >pouvoir</label>
          </div>
          <div class="form-group" *ngIf="displayInterest()">
            <label class="control-label"> {{data.nom_champ}}</label>
            <input type="number" name="data.Interest"  [(ngModel)]="data.Interest"   class="form-control">

          </div>
          <div class="form-group" *ngIf="displaypower()">
            <label class="control-label"> {{data.nom_champ}}</label>
            <input type="number" name="data.Power"  [(ngModel)]="data.Power"  class="form-control">

          </div>
          <div class="form-group">
            <label class="control-label">influenece </label>
            <input type="number" name="data.influence"  [(ngModel)]="data.influence"  class="form-control">
          </div>
          <button class=" btn bg-success" >evaluer</button>
        </form>




        <div style="display: block">
          <canvas baseChart [datasets]="bubbleChartData" [options]="bubbleChartOptions" [colors]="bubbleChartColors"
                  [legend]="bubbleChartLegend" [chartType]="bubbleChartType"></canvas>
        </div>





        <div class="card col-md-4 " >
          <p>voulez vous notez les exigences de vos <br> partie interesse pertinante de pilotos</p>
          <div>
            <input type="radio" name="exigence"  value="oui" [(ngModel)]="exigence">
            <label>oui</label>

            <input type="radio" name="exigence" value="non" [(ngModel)]="exigence">
            <label >non</label>
          </div>
          <div *ngIf="displayExigency()">
            <button class=" btn bg-success" routerLink="/exigencesPI">definir les exigences</button>
          </div>
        </div>

        <div>
          <form #f="ngForm" (ngSubmit)="InterestedPartyRevelant()">
            <div class="form-group">
              <label class="control-label">quel est votre seul de pertinances ? pouvoir/interet </label>
              <input type="number" name="seul"  [(ngModel)]="idseul" class="form-control">
            </div>
            <button class=" btn bg-success"  >afficher les PI pertinante</button>
          </form>
        </div>
      </div>


      <div class="card col-md-11">

        <div class=" navbar "> <h4>liste des partie interessé pertinante </h4></div>

        <table class="table" *ngIf="displaypower()">
          <thead>
          <tr>
            <th *ngFor="let c of pertinantePouvoir"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let c of interestedpartyRevelant " >
            <td>Pi{{c.id}}</td>
            <td>{{c.NameInterestedParty}}</td>
            <td >{{c.Influence}}</td>
            <td >{{c.Power}}</td>
            <td >{{c.Weight}}</td>
            <td></td>

          </tr>

          </tbody>
        </table>

        <table class="table" *ngIf="displayInterest()">
          <thead>
          <tr>
            <th *ngFor="let c of pertinanteInteret"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let c of interestedpartyRevelant " >
            <td>Pi{{c.id}}</td>
            <td>{{c.NameInterestedParty}}</td>
            <td >{{c.Influence}}</td>
            <td >{{c.Interest}}</td>
            <td >{{c.Weight}}</td>
            <td></td>

          </tr>

          </tbody>
        </table>


      </div>

      <button class=" btn bg-default" (click)="savehistoricalInterestedParty()" >Enregistrer Etat</button>


    </div>
    <footer-cmp></footer-cmp>

    <div >
      <div class="col-md-4 " >
        <table class="table card">
          <thead>
          <th colspan="2">pouvoir</th>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>La PI a un pouvoir infinitisimale sur l'activité de l'entreprise </td>
          </tr>
          <tr>
            <td>2</td>
            <td>La PI a un pouvoir mineur sur l'activité de l'entreprise  </td>
          </tr>
          <tr>
            <td>3</td>
            <td>La PI a un pouvoir moyen sur l'activité de l'entreprise  </td>
          </tr>
          <tr>
            <td>4</td>
            <td>La PI a un pouvoir élevé sur l'activité de l'entreprise </td>
          </tr>
          <tr>
            <td>5</td>
            <td>La PI est indisponsable pour l'activité de l'entreprise </td>
          </tr>
          </tbody>
        </table>
      </div>


      <div class="col-md-4" >
        <table class="table card">
          <thead>
          <th colspan="2">intéret</th>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Non intéressée </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Légérement intéressée  </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Moyennement intéressée</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Intéressée</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Fortement intéressée  </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4" >
        <table class="table card">
          <thead>
          <th colspan="2">Influence</th>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Non influant </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Légérement influant  </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Moyennement influant  </td>
          </tr>
          <tr>
            <td>4</td>
            <td>Influant </td>
          </tr>
          <tr>
            <td>5</td>
            <td>Fortement influant  </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <fixedplugin-cmp></fixedplugin-cmp>


