
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content" >
      <button class="btn btn-primary " (click)="CreateExigence()">ajouter exigence</button>
      <div class="card col-md-10">

        <table class="table">
          <thead class=" text-primary">
          <tr>
            <th *ngFor="let c of listeExigence"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let c of users">
            <td>{{c.id}}</td>
            <td>{{c.StateOfConfirmity}}</td>
            <td>{{c.Comment}}</td>
          <td>  <p *ngFor="let p of c.planDeActions "> {{ p.id}}</p> </td>

            <td><button class="btn btn-primary "  style="float: right" (click)="delateExigence(c.id)">supp</button></td>
          </tr>
          </tbody>
        </table>

      </div>









    </div>

  </div>

  <fixedplugin-cmp></fixedplugin-cmp>


