<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <h1>Ajouter un risque</h1>
            <form [formGroup]="angForm" name="form" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Catégorie de risque</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('idcategory').errors && (angForm.get('idcategory').touched || angForm.get('idcategory').dirty ) }">
                  <select class="mb-1" name="idcategory" placeholder="nom cat"  placeholder="nom cat" formControlName="idcategory"  [(ngModel)]="data.idcategory" type="number" class="form-control" >
                    <option value="">--choisir catégorie--</option>
                    <option *ngFor="let c of categoryrisk" value="{{c.id}}">{{c.NameCategoryRisk}}</option>
                  </select>
                  <div role="alert"  *ngIf="angForm.get('idcategory').errors && (angForm.get('idcategory').touched || angForm.get('idcategory').dirty )" class="alert alert-danger">
                   le champ  catégorie est obligatoire
                  </div>
                </div>
              </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Description').errors && (angForm.get('Description').touched || angForm.get('Description').dirty ) }">
                  <input type="text" name="Description"   formControlName="Description"  [(ngModel)]="data.Description" class="form-control">
                  <div *ngIf="angForm.get('Description').errors && (angForm.get('Description').touched || angForm.get('Description').dirty )" class="alert alert-danger">
                    <span *ngIf="angForm.get('Description').errors.required"></span> le champ description est obligatoire
                  </div>
                </div>
              </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Durée</label>
                <div class="col-sm-6 distanceRisk ">
                  <div>
                  <input class="form-check-input" type="checkbox" name="ShortTerm" formControlName="Durée" value="*" [(ngModel)]="data.ShortTerm">
                  <label class="form-check-label" >court terme</label><br>
                  </div>
                  <input class="form-check-input" type="checkbox" name="MediumTerm" formControlName="Durée" value="*" [(ngModel)]="data.MediumTerm">
                  <label class="form-check-label">moyen terme</label><br>
                  <input class="form-check-input" type="checkbox" name="LongTerm" formControlName="Durée" value="*" [(ngModel)]="data.LongTerm">
                  <label class="form-check-label">long terme</label>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('DateIdentification').errors && (angForm.get('DateIdentification').touched || angForm.get('DateIdentification').dirty ) }">
                  <input type="date" name="DateIdentification"  formControlName="DateIdentification"  [(ngModel)]="data.DateIdentification" class="form-control">
                    <div *ngIf="angForm.get('DateIdentification').errors && (angForm.get('DateIdentification').touched || angForm.get('DateIdentification').dirty )" class="alert alert-danger">
                      <span *ngIf="angForm.get('DateIdentification').errors.required"></span> le champ date d'identification est obligatoire
                    </div>
                </div>
              </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Cause</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Causes').errors && (angForm.get('Causes').touched || angForm.get('Causes').dirty ) }">
                  <input type="text" name="Causes"  formControlName="Causes"  [(ngModel)]="data.Causes" class="form-control">
                    <div *ngIf="angForm.get('Causes').errors && (angForm.get('Causes').touched || angForm.get('Causes').dirty )" class="alert alert-danger">
                      <span *ngIf="angForm.get('Causes').errors.required"></span>le champ cause est obligatoire
                    </div>
                </div>
              </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Conséquence</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Censequence').errors && (angForm.get('Censequence').touched || angForm.get('Censequence').dirty ) }">
                  <input type="text" name="Censequence"  formControlName="Censequence"  [(ngModel)]="data.Censequence" class="form-control">
                    <div *ngIf="angForm.get('Censequence').errors && (angForm.get('Censequence').touched || angForm.get('Censequence').dirty )" class="alert alert-danger">
                      <span *ngIf="angForm.get('Censequence').errors.required"></span> le champ conséquance est obligatoire
                    </div>
                </div>
              </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Gravité</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Gravity').errors && (angForm.get('Gravity').touched || angForm.get('Gravity').dirty ) }">
                  <select name="Gravity" placeholder="nom cat"  formControlName="Gravity"  [(ngModel)]="data.Gravity" type="number" class="form-control" >
                    <option value="">--Gravité--</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>

                  </select>
                    <div *ngIf="angForm.get('Gravity').errors && (angForm.get('Gravity').touched || angForm.get('Gravity').dirty )" class="alert alert-danger">
                      <span *ngIf="angForm.get('Gravity').errors.required"></span>le champ  gravité est obligatoire
                    </div>
                </div>
              </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Probabilité</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Probability').errors && (angForm.get('Probability').touched || angForm.get('Probability').dirty ) }">
                  <select name="Probability" placeholder="nom cat"  formControlName="Probability"  [(ngModel)]="data.Probability" type="number" class="form-control" >
                    <option value="">--Probabilité--</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>

                  </select>
                    <div *ngIf="angForm.get('Probability').errors && (angForm.get('Probability').touched || angForm.get('Probability').dirty )" class="alert alert-danger">
                      <span *ngIf="angForm.get('Probability').errors.required"></span>le champ  probabilité est obligatoire
                    </div>
                </div>
              </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Detectabilité</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Detectability').errors && (angForm.get('Detectability').touched || angForm.get('Detectability').dirty ) }">
                  <select name="Detectability" placeholder="nom cat" formControlName="Detectability"  [(ngModel)]="data.Detectability" type="number" class="form-control" >
                    <option value="">--Detectabilité--</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>

                  </select>
                    <div *ngIf="angForm.get('Detectability').errors && (angForm.get('Detectability').touched || angForm.get('Detectability').dirty )" class="alert alert-danger">
                      <span *ngIf="angForm.get('Detectability').errors.required"></span>  Detectabilité est obligatoire
                    </div>
                </div>
              </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Processus</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('idprocess').errors && (angForm.get('idprocess').touched || angForm.get('idprocess').dirty ) }">
                  <select name="idprocess" placeholder="nom cat"  formControlName="idprocess"  [(ngModel)]="data.idprocess" type="number" class="form-control" >
                    <option value="">--choisir un processus--</option>
                    <option *ngFor="let c of Process" value="{{c.id}}">{{c.Process}}</option>
                  </select>
                    <div *ngIf="angForm.get('idprocess').errors && (angForm.get('idprocess').touched || angForm.get('idprocess').dirty )" class="alert alert-danger">
                      <span *ngIf="angForm.get('idprocess').errors.required"></span>  processus est obligatoire
                    </div>
                </div>
              </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Stratégie</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('idstrategic').errors && (angForm.get('idstrategic').touched || angForm.get('idstrategic').dirty ) }">
                  <select name="idstrategic" placeholder="nom cat"  formControlName="idstrategic"  [(ngModel)]="data.idstrategic" type="number" class="form-control" >
                    <option value="">--choisir une Stratégie--</option>
                    <option *ngFor="let c of Strategic" value="{{c.id}}">{{c.NameStrategicRisk}}</option>
                  </select>
                    <div *ngIf="angForm.get('idstrategic').errors && (angForm.get('idstrategic').touched || angForm.get('idstrategic').dirty )" class="alert alert-danger">
                      <span *ngIf="angForm.get('idstrategic').errors.required"></span>  strategique est obligatoire
                    </div>
                </div>
              </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Etat du risque</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('idStateRisk').errors && (angForm.get('idStateRisk').touched || angForm.get('idStateRisk').dirty ) }">
                  <select name="idStateRisk" placeholder="nom cat"  formControlName="idStateRisk"  [(ngModel)]="data.idStateRisk" type="number" class="form-control" >
                    <option value="">--choisir un état du risque--</option>
                    <option *ngFor="let c of StateRisk" value="{{c.id}}">{{c.NameStateRisk}}</option>
                  </select>
                    <div *ngIf="angForm.get('idStateRisk').errors && (angForm.get('idStateRisk').touched || angForm.get('idStateRisk').dirty )" class="alert alert-danger">
                      <span *ngIf="angForm.get('idStateRisk').errors.required"></span>  strategique est obligatoire
                    </div>
                  </div>
              </div>
              </div>

              <div class="form-group row">

                <label class="col-sm-2 col-form-label">Commentaire</label>
                <div class="col-sm-6">
                  <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Comment').errors && (angForm.get('Comment').touched || angForm.get('Comment').dirty ) }">
                  <input type="text" name="Comment"  formControlName="Comment"  [(ngModel)]="data.Comment" class="form-control">
                  <div *ngIf="angForm.get('Comment').errors && (angForm.get('Comment').touched || angForm.get('Comment').dirty )" class="alert alert-danger">
                    <span *ngIf="angForm.get('Comment').errors.required"></span>  strategique est obligatoire
                  </div>
                </div>
              </div>
              </div>
              <div class="distance">
              <button class="btn btn-danger" routerLink="/risque" style="float: left">Annuler</button>
              </div>
              <div class="col-sm-8">
              <button class="btn btn-primary "  style="float: right"  [disabled]="angForm.invalid" (click)="CreateRisk()" >Créer</button>
              </div>
            </form>

    </div>

  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>

