<div>
  <form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Effort Reevaluation:</label>
      <div class="col-sm-8 distancereevaluation">
        <select name="EffortReevaluation" placeholder="nom cat"  [(ngModel)]="data.EffortReevaluation" type="number" class="form-control" >
          <option value="">--Gravité--</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>

        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Aventage Reevaluation:</label>
      <div class="col-sm-8 distancereevaluation">
        <select name="AdvantageReevaluation" placeholder="nom cat"  [(ngModel)]="data.AventageReevaluation" type="number" class="form-control" >
          <option value="">--Aventage Reevaluation--</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>

        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Strategique Reevaluation:</label>
      <div class="col-sm-8 distancereevaluation">
        <select name="idstrategicReevaluation" placeholder="nom cat"  [(ngModel)]="data.idstrategicReevaluation" type="number" class="form-control" >
          <option value="">--Strategique--</option>

          <option *ngFor="let c of Strategic" value="{{c.id}}">{{c.NameStrategicOpportunity}}</option>

        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Strategique Reevaluation:</label>
      <div class="col-sm-8 distancereevaluation">
        <select name="idprocessReevaluation" placeholder="nom cat"  [(ngModel)]="data.idprocessReevaluation" type="number" class="form-control" >
          <option value="">--Processus--</option>

          <option *ngFor="let c of Process" value="{{c.id}}">{{c.Process}}</option>

        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Etat Reevaluation:</label>
      <div class="col-sm-8 distancereevaluation">
        <select name="idStateOpportunityReevaluation" placeholder="nom cat"  [(ngModel)]="data.idStateOpportunityReevaluation" type="number" class="form-control" >
          <option value="">--Etat --</option>

          <option *ngFor="let c of StateOpportunity" value="{{c.id}}">{{c.NameStateOpportunity}}</option>

        </select>
      </div>
    </div>

    <button class="btn btn-danger" (click)="onNoClick()" style="float: left">Annuler</button>

    <button class="btn btn-primary "  style="float: right"  (click)="reevaluateOpportunity()" >create</button>
  </form>
</div>
