

          <div class="card-header panel-heading bg-primary ">
            <h2 class="card-title "> ajouter enjeu extern </h2>
          </div>
          <div class="card-body">
            <form [formGroup]="angForm" name="form"  (ngSubmit)=" onSubmit() ">

              <div class="form-group">
                <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('Description').errors && (angForm.get('Description').touched || angForm.get('Description').dirty ) }">
                <label class="control-label">description:</label>
                <input type="text" name="Description" formControlName="Description" [(ngModel)]="data.Description" class="form-control">
                  <div *ngIf="angForm.get('Description').errors && (angForm.get('Description').touched || angForm.get('Description').dirty )" class="alert alert-danger">
                    <span *ngIf="angForm.get('Description').errors.required"></span>  description est obligatoire
                  </div>
                </div>
              </div>

              <div>
                <div>
                  <label>le type d'enjeu</label>
                </div>
                <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('typeEnjeu').errors && (angForm.get('typeEnjeu').touched || angForm.get('typeEnjeu').dirty ) }">
                <select name="typeEnjeu" placeholder="role"  formControlName="typeEnjeu" [(ngModel)]="data.typeEnjeu">

                  <option value="">--chnoisir type--</option>
                  <option value="api/type_enjeus/3">Opportunite</option>
                  <option value="api/type_enjeus/4">Menaces</option>
                </select>
                  <div *ngIf="angForm.get('typeEnjeu').errors && (angForm.get('typeEnjeu').touched || angForm.get('typeEnjeu').dirty )" class="alert alert-danger">
                    <span *ngIf="angForm.get('typeEnjeu').errors.required"></span>  type est obligatoire
                  </div>
                </div>
              </div>

              <div>
                <div>
                  <label>la categorie :</label>
                </div>
                <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('categorieEnjeu').errors && (angForm.get('categorieEnjeu').touched || angForm.get('categorieEnjeu').dirty ) }">
                <select name="categoriesEnjeuExterne" placeholder="nom cat" formControlName="categorieEnjeu" id="pet-select" [(ngModel)]="data.categoriesEnjeuExterne" >

                  <option value="">--choisir la categories--</option>
                  <option *ngFor="let c of users" value="api/categories_enjeu_externes/{{c.id}}">{{c.NomCategorie}}</option>

                </select>
                  <div *ngIf="angForm.get('categorieEnjeu').errors && (angForm.get('categorieEnjeu').touched || angForm.get('categorieEnjeu').dirty )" class="alert alert-danger">
                    <span *ngIf="angForm.get('categorieEnjeu').errors.required"></span>   categories est obligatoire
                  </div>
                </div>
              </div>

              <button class="btn btn-danger" (click)="onNoClick()" style="float: left">Annuler</button>

              <button class="btn btn-primary "  [disabled]="angForm.invalid"  style="float: right"  (click)="saveEnjeuForce()"  >create</button>
            </form>

          </div>




