<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="col-md-6 container    my-5">
        <div class="card card-user  panel">
          <div class="card-header panel-heading bg-primary ">
            <h5 class="card-title "> ajouter opportunite </h5>
          </div>
          <div class="card-body">
            <form >
              <div class="form-group">
                <label class="control-label"> description :</label>
                <input type="text" name="Description"  [(ngModel)]="data.Description" class="form-control">
              </div>

              <div>
                <select name="idEnjeu" placeholder="nom cat"  [(ngModel)]="data.idEnjeu"  type="number">

                  <option value="">--choisir enjeu--</option>
                  <option *ngFor="let c of Enjeu" value={{c.id}}>{{c.Description}}</option>

                </select>
              </div>


              <h1>Durée</h1>
              <div>
                <label>temps 1</label>
                <select name="Temps1" placeholder="role"  [(ngModel)]="data.Temps1" >

                  <option value="">--choisir temps1--</option>
                  <option>X</option>
                  <option>V</option>
                  <option>R</option>
                </select>
              </div>
              <div>
              <select name="Temps2" placeholder="role"  [(ngModel)]="data.Temps2" >

                <option value="">--choisir temps3--</option>
                <option>X</option>
                <option>V</option>
                <option>R</option>
              </select>
            </div>
              <div>
                <select name="Temps3" placeholder="role"  [(ngModel)]="data.Temps3" >

                  <option value="">--choisir temps3--</option>
                  <option>X</option>
                  <option>V</option>
                  <option>R</option>
                </select>
              </div>
              <div>
                <select name="Temps4" placeholder="role"  [(ngModel)]="data.Temps4" >

                  <option value="">--choisir temps4--</option>
                  <option>X</option>
                  <option>V</option>
                  <option>R</option>
                </select>
              </div>
              <div>
                <select name="Temps2020" placeholder="role" [(ngModel)]="data.Temps2020" >

                  <option value="">--choisir temps2020--</option>
                  <option>X</option>
                  <option>V</option>
                  <option>R</option>
                </select>
              </div>
              <div>
                <select name="Temps2021" placeholder="role"  [(ngModel)]="data.Temps2021" >

                  <option value="">--choisir temps2021 --</option>
                  <option>X</option>
                  <option>V</option>
                  <option>R</option>
                </select>
              </div>
              <div>
                <select name="idprocess" placeholder="nom cat"  [(ngModel)]="data.idprocess"  type="number" >

                  <option value="">--choisir process--</option>
                  <option *ngFor="let c of Process" value="{{c.id}}" >{{c.Processus}}</option>

                </select>
              </div>
              <div>
                <input type="radio" name="IndicateurPredefini" value="*" [(ngModel)]="data.IndicateurPredefini" >
                <label >IndicateurPredefini</label><br>
              </div>


              <div class="form-group" *ngIf="!data.IndicateurPredefini">
                <label class="control-label"> Indicateur Performance :</label>
                <input type="text" name="IndicateurPerformance"  [(ngModel)]="data.IndicateurPerformance"  class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label"> Objective a Atendre :</label>
                <input type="text" name="ObjectiveAAtendre"  [(ngModel)]="data.ObjectiveAAtendre"  class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label"> Etat Initial :</label>
                <input type="text" name="EtatInitial" [(ngModel)]="data.EtatInitial"  class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label"> Etat Actuel :</label>
                <input type="text" name="EtatActuel"  [(ngModel)]="data.EtatActuel"  class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label"> Etat Actuel Indiacteur :</label>
                <input type="text" name="EtatActuelIndiacteur"  [(ngModel)]="data.EtatActuelIndiacteur"  class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label"> Commentaire :</label>
                <input type="text" name="Commentaire"  [(ngModel)]="data.Commentaire"  class="form-control">
              </div>





              <button class="btn btn-danger"  style="float: left">Annuler</button>

              <button class="btn btn-primary "  style="float: right"   (click)="saveObjective()">create</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>



