
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content " >
<h2 class="text-primary">Objectifs de la feuille "Objectifs"</h2>
<p>Dans la feuille "Objectifs" vous êtes censés d'identifier vos objectifs
  et faire leurs suivi. L'interface est sous la forme d'un tableau avec différentes colonnes.
  Vous trouvez des listes déroulantes dans les colonnes: "Enjeux" pour identifier
  l'enjeu lié à l'objectif et "Processus lié", pour identifier à quel processus appartient l'objectif.
  Lors de l'identification de l'indicateur de performance de l'objectif, s'il est un indicateur du processus lié,
  vous devez coher la colonne "Indicateur prédéfini" pourqu'une liste déroulante des indicateurs
  apparait dans la colonne "Indicateurs de performance" si non vous devez définissez l'indicateur manuellement.
  Le délai de l'objectif doit être noté dans la partie "Délai" du tableau.
  Un état devra être noté à chaque avancement de l'objectif et vous devez toujours enregistrer la dernière modification faite.
  Vous trouvez des synthèses dans la feuille "Synthèse".</p>
<div class="card col-md-6">
<table class=" table">
  <tbody>
  <tr>
    <td>Spécifique</td>
    <td>Votre objectif doit être clair, détaillé et concret</td>
  </tr>
  <tr>
    <td>Mesurable</td>
    <td>Il faut pouvoir mesurer les résultats de votre objectif, pour savoir clairement si oui ou non quand on atteint son but.</td>
  </tr>
  <tr>
    <td>Atteignable </td>
    <td>Vous devez donc vous poser la question « Comment vais-je faire pour y arriver ? »</td>
  </tr>
  <tr>
    <td>Réaliste</td>
    <td>L’objectif doit, placé dans la réalité économique de votre secteur, être réalisable.</td>
  </tr>

  <tr>
    <td>Temporel</td>
    <td>Il vous faut absolument établir un échéancier précis, en planifiant les différentes étapes qui vous mèneront à la réalisation de votre projet.</td>
  </tr>
  <tr>
    <td>Evaluable </td>
    <td>Vous devez être capable d’évaluer en cours de route si l’objectif est pertinent dans son entièreté</td>
  </tr>
  <tr>
    <td>Révisable </td>
    <td>Vous devez vous réviser votre objectif sinon vous risquez d’avoir atteint un objectif caduc.</td>
  </tr>
  </tbody>
</table>
</div>
<div class="card col-md-4"></div>
<table class="table col-md-4">
  <tbody>
   <tr>
     <td>x</td>
     <td>Délai de l'objectif planifié</td>
   </tr>
   <tr>
     <td class="bg-success">V</td>
     <td >Si l'avancement de l'objectif est comme prévu</td>
   </tr>
   <tr>
     <td class="bg-danger">R</td>
     <td>Si l'avancement de l'objectif se passe mal</td>
   </tr>
  </tbody>
</table>
    </div>

  </div>

</div>
