
          <div class="card-header panel-heading bg-primary ">
            <h5 class="card-title "> ajouter processus </h5>
          </div>
          <div class="card-body">
            <form [formGroup]="angForm" name="form"  (ngSubmit)=" onSubmit() "  >

              <div class="form-group">
                <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('nom').errors && (angForm.get('nom').touched || angForm.get('nom').dirty ) }">
                <label class="control-label"> nom :</label>
                <input type="text" name="Nom" formControlName="nom" [(ngModel)]="data.Nom" class="form-control">

                  <div *ngIf="angForm.get('nom').errors && (angForm.get('nom').touched || angForm.get('nom').dirty )" class="alert alert-danger">
                    <span *ngIf="angForm.get('nom').errors.required"></span>  nom est obligatoire
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('role').errors && (angForm.get('role').touched || angForm.get('role').dirty ) }">
                <label class="control-label"> role :</label>
                <input type="text" name="Role" formControlName="role" [(ngModel)]="data.Role" class="form-control">
                  <div *ngIf="angForm.get('role').errors && (angForm.get('role').touched || angForm.get('role').dirty )" class="alert alert-danger">
                    <span *ngIf="angForm.get('role').errors.required"></span>  role est obligatoire
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div  class="form-group" [ngClass]="{ 'is-invalid': angForm.get('organisation').errors && (angForm.get('organisation').touched || angForm.get('organisation').dirty ) }">
                <label class="control-label">organiisation :</label>
                <input type="text" name="Organisation"  formControlName="organisation" [(ngModel)]="data.Organisation" class="form-control">
                  <div *ngIf="angForm.get('organisation').errors && (angForm.get('organisation').touched || angForm.get('organisation').dirty )" class="alert alert-danger">
                    <span *ngIf="angForm.get('organisation').errors.required"></span>  organisation is required
                  </div>
                </div>
              </div>


              <button class="btn btn-danger"  style="float: left" (click)="onNoClick()">Annuler</button>

              <button class="btn btn-primary " [disabled]="angForm.invalid" style="float: right"  (click)="ajouterGuideUtilisation()" >create</button>
            </form>

          </div>




