
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <button class="btn btn-primary " routerLink="/ajouterguideUtilisation">ajouter </button>
      <h4>historique</h4>
      <div class="card col-md-10">
        <table class="table" >
          <thead class=" text-primary">
          <tr>
            <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let c of historique">
            <td>{{c.id}}</td>
            <td>{{c.Description}}</td>
            <td>{{c.Enjeux}}</td>
            <td>{{c.Temps1}}</td>
            <td>{{c.Temps2}}</td>
            <td>{{c.Temps3}}</td>
            <td>{{c.Temps4}}</td>
            <td>{{c.Temps2020}}</td>
            <td>{{c.Temps2021}}</td>
            <td>{{c.Processlie}}</td>
            <td>{{c.IndicateurPredefini}}</td>
            <td>{{c.IndicateurPerformance}}</td>
            <td>{{c.ObjectiveAttendre}}</td>
            <td>{{c.EtatInitial}}</td>
            <td>  <p *ngFor="let p of c.NumAction "> {{ p.id}}</p> </td>
            <td>{{c.EtatActuelIndicateur}}</td>
            <td>{{c.Avencement}}</td>
            <td>{{c.EtatActuel}}</td>
            <td>{{c.Commentaire}}</td>
            <td>{{c.Date }}</td>
            <td><button class="btn btn-danger" (click)="supp(c.id)">supp</button></td>

          </tr>

          </tbody>
        </table>
      </div>


    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>




