
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content " >


<div class=" colorbleu text-white">
  <h1>Enjeux</h1>

</div>
<div class="col-md-8">
<p>Dans la feuille "Enjeux" vous êtes censés de rapporter vos enjeux.
En identifiant les Forces et les faiblesses vous êtes entrain d'identifier vos enjeux internes.
Cependant, en identifiant les Opportunités et les Menaces vous êtes entrain d'identifier vos enjeux
externes. Vous trouvez des exemples de différentes catégories pour les classifier. De plus, il y a un
exemple de formulation d'un enjeu dans le début de chaque tableau. Un tableau de synthèse se trouve à
la fin pour consolider tous les enjeux et un graphe pour visualiser leur répartition dans les catégories.
  Vous trouvez également d'autre synthèse dans la feuille "Synthèse".</p>
</div>
<h6>Cette multitude de questions vous aideront rafraîchir votre
  mémoire afin d'étudier tous les éléments qui peuvent vous engendrer des enjeux .</h6>

<div class="col-md-8">
<table class="table card">
  <thead>
  <th>Catégories</th>
  <th>Question</th>
  </thead>
  <tbody>

    <td rowspan="5">Les valeurs de l'organisme</td>
    <tr>
    <td>Quelles sont les valeurs que vous avez défini pour votre organisme ? </td>
    </tr>
    <tr>
    <td>Est-ce que vos valeurs sont assimilées dans tout l'organisme ? </td>
    </tr>
    <tr>
    <td>Vos valeurs sont-elles allignées avec l'activité de votre organisme ? </td>
    </tr>
    <tr>
    <td>Votre politique est-elle bien communiquée et comprise par vos ressources humaines ? </td>
    </tr>


    <td rowspan="7">La performances de l'organisme</td>
    <tr>
      <td>La fréquence choisie pour le contrôle de la performance de l'organisme est-elle suffisante pour bien suivre l'évolution de la performance ?  </td>
    </tr>
    <tr>
      <td>Est-ce que votre modèle d'affaire est adapté aux nouvelles réalités? </td>
    </tr>
    <tr>
      <td>Est-ce que votre modèle d'affaire garanti la performance de votre entreprise?  </td>
    </tr>
    <tr>
      <td>Si non, comment vous procédez pour garantir qu'il y soit adapté? </td>
    </tr>
    <tr>
      <td>Est-ce que les résultats de l'amélioration de performance de l'organisme sont efficaces ? </td>
    </tr>
    <tr>
      <td>Est-ce que les prévisions pour l'amlioration de performance de votre organisme sont efficaces ?  </td>
    </tr>

    <td rowspan="10">Les ressources humaines internes de  l'organisme</td>
    <tr>
      <td>Les compétences existantes permettent-elles d'accomplir vos activités ?</td>
    </tr>
    <tr>
      <td>Comment est votre dynamisme d'évolution de compétences ? Rapide ou lent?  </td>
    </tr>
    <tr>
      <td>Votre stratégie pour la formation remplie t-elle votre manque en compétences ?</td>
    </tr>
    <tr>
      <td>Est-ce que les fiches de fonctions traduissent la réalité des activités du poste ?  </td>
    </tr>
    <tr>
      <td>Avez-vous déjà rencontré une situation de non capacité de vos ressources humaines face à une activité ?   </td>
    </tr>
    <tr>
      <td>L'environnement de travail que vous fournissez satisfait-il vos ressources humaines ?   </td>
    </tr>
    <tr>
      <td>Est-ce que votre personnel est adapté à objectifs de l'organisme? Sont-ils bien assimilés? </td>
    </tr>
    <tr>
      <td>Le Turnover est-il acceptable par rapport à vos concurents et par rapport au contexte de vous tracez pour votre organisme ?  </td>
    </tr>
    <tr>
      <td>L'évolution d'effectif correspond t-elle votre stratégie ?</td>
    </tr>


    <td rowspan="4">Les installations et les équipements</td>
    <tr>
      <td>Est ce que vous avez des manques aux niveaux des équipements matériels ?   </td>
    </tr>
    <tr>
      <td>Est-ce que vos installations et vos équipements sont bien mis en place ? </td>
    </tr>
    <tr>
      <td>Quelle est la fréquence de l'apparition des non-conformité causées par les équipements ?  </td>
    </tr>

    <td rowspan="6">Les clients</td>
    <tr>
      <td>Votre clientèle est elle satisfaite par vos produits et services?  </td>
    </tr>
    <tr>
      <td>Est-ce que les moyens mis en place pour garantir la satisfaction clients sont suffissantes ?  </td>
    </tr>
    <tr>
      <td>La satisfaction client figure t-elle parmi vos objectifs ?   </td>
    </tr>
    <tr>
      <td>L'évolution de nombre de client est-elle en cohérence avec la stratégie que vous avez tracé ?   </td>
    </tr>
    <tr>
      <td>Vos clients peuvent-ils vous donner une place concurentielles sur le marché ?  </td>
    </tr>

    <td rowspan="6">Politique</td>
    <tr>
      <td>Est-ce que des décisions du gouvernement national peuvent influer votre activités?   </td>
    </tr>
    <tr>
      <td>Est-ce que les différentes institutions politique ont un impact sur votre activité ?   </td>
    </tr>
    <tr>
      <td>Est-ce que vous avez besoin d'un soutien de la part de la politique internationale ? </td>
    </tr>
    <tr>
      <td>Est-ce que vous avez besoin d'un soutien de la part de la politique internationale ?   </td>
    </tr>
    <tr>
      <td>Est-ce que des instances internationales peuvent influer votre activité directement ou indirectement ?   </td>
    </tr>

    <td rowspan="4">Économie</td>
    <tr>
      <td>Est-ce que votre stratégie économique vous permet d'être robuste face au inflation ?   </td>
    </tr>
    <tr>
      <td>Y avait-il un cas ou vous êtes touché par le taux de croissance économique ?   </td>
    </tr>
    <tr>
      <td>Est ce que le taux de croissance économique peut jouer un rôle dans votre activité ? </td>
    </tr>

    <td rowspan="6">Société</td>
    <tr>
      <td>Est-ce que l'évolution démographique de la population agit sur votre activité ?   </td>
    </tr>
    <tr>
      <td>Est-ce que l'âge moyen de la société peut influer votre activité ?    </td>
    </tr>
    <tr>
      <td>Quel est l'apport de votre organisme sur la société ? </td>
    </tr>

    <tr>
      <td>Les changements brutals dans la société engdrent-ils des impacts instanténés sur votre organisme ?</td>
    </tr>
    <tr>
      <td>La conjoncture actuelle est-elle au profit de l'activité de votre organisme ?  </td>
    </tr>
    <td rowspan="4">Technologie</td>
    <tr>
      <td>La structure de votre organisme permet-elle d'avoir des nouvelles technologies ?   </td>
    </tr>
    <tr>
      <td>Est-ce que vous êtes leader dans votre marché dans une technologie bien déterminée?     </td>
    </tr>
    <tr>
      <td>Les résultats de vos produits ou services les rendent-ils concurrentiels au niveau technologique ? </td>
    </tr>

    <td rowspan="4">Écologie</td>
    <tr>
      <td>Est-ce que votre organisme a un impact sur le volet écologique ?   </td>
    </tr>
    <tr>
      <td>Si oui, est ce qu-il donne des résultats comme planifier ?      </td>
    </tr>
    <tr>
      <td>Est-ce que vous respectez les réglementations écologiques ? </td>
    </tr>

    <td rowspan="4">Législation</td>
    <tr>
      <td>Est-ce que vous respecter les cadres de droit de travail et le droit de commerce?   </td>
    </tr>
    <tr>
      <td>Est ce que les mesures récentes législatifs présentent des contraintes ou des opportunités pour votre activité ?      </td>
    </tr>
    <tr>
      <td>Est-ce que les non conformités notées sont en realtion avec les exigences légales et réglementaires ?  </td>
    </tr>
    <tr>
      <td>Les résultats que donne la procédure de veille légale et réglementaire permettent-ils de comprendre les changements ?</td>
    </tr>

  </tbody>
</table>
</div>
    <div class=" colorbleu text-white">
      <h1>Périmètre_Politique_Processus</h1>
    </div>
  <p> Dans la feuile "Périmètre_Politique_Processus" vous êtes censé de: transcrire votre politique
    dans l'espace qui lui est dédié, définir le périmètre de votre système management dans son espace
    et identifier vos processus. Vous devez définir le pilote de chaque processus ainsi que ses indicateurs
    de performances. Le tableau dynamique à côté du tableau des processus sert à la récapitulation des
    indicateurs de chaque process qui va vous aider dans les synthèses définies dans la feuille "Synthèse".</p>



<h3>Objectifs de la feuille "Opportunités"</h3>
<p>* Dans la feuille "Opportunités" vous êtes censés d'identifier, évaluer et analyser vos opportunités.
  * Vous trouvez ainsi différentes catégories pour les classifier.
  * Vous auriez besoin de visualiser vos enjeux et vos parties intéressées pour l'identification des opportunités, ils se trouvent dans les boutons au-dessus du tableau.
  * C'est à vous de fixer les seuils de réaction et de réflexion.
  * Pour l'évaluation, vous trouvez deux paramètres: Effet à fournir et Avantages requis qui résultent le poids de l'opportunité qui nous aidera à prendre une décision face à cette opportunité.
  * Ces paramètre doivent être réévalués suite aux actions mise face aux opportunités, c'est pourquoi, vous trouvez deux parties: une pour l'évaluation et l'autre pour la réévaluation.
  * Vous trouvez des synthèses dans la feuille "Synthèse".</p>
    </div>

  </div>

</div>
