
<div class="card-header panel-heading bg-primary ">
  <h5 class="card-title "> ajouter processus </h5>
</div>
<div class="card-body">
  <form #f="ngForm" (ngSubmit)="updateperimetre(f.value)">

    <div class="form-group">
      <label class="control-label"> perimetre:</label>
      <input type="text" name="Perimetre"  ngModel class="form-control">
    </div>
    <div class="form-group">
      <label class="control-label"> politique :</label>
      <input type="text" name="Politique"  ngModel class="form-control">
    </div>


    <button class="btn btn-danger"  style="float: left" (click)="onNoClick()">Annuler</button>

    <button class="btn btn-primary "  style="float: right"  >create</button>
  </form>

</div>

