<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
<h1>Ajouter opportunité</h1>
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="CreateOpportunity(f.value)">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Categorie de risque</label>
                <div class="col-sm-6">
                  <select name="idcategory" placeholder="nom cat"  ngModel type="number" class="form-control" >
                    <option value="">--choisir categories--</option>
                    <option *ngFor="let c of categoryOpportunity" value="{{c.id}}">{{c.NameCategoryOpportunity}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-6">
                  <input type="text" name="Description"  ngModel class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Durée</label>
                <div class="col-sm-6 distanceOpportunité ">
                  <div>
                    <input class="form-check-input" type="checkbox" name="ShortTerm"  value="*" ngModel>
                    <label class="form-check-label" >court term</label><br>
                  </div>
                  <input class="form-check-input" type="checkbox" name="MediumTerm" value="*" ngModel>
                  <label class="form-check-label">moyen term</label><br>
                  <input class="form-check-input" type="checkbox" name="LongTerm" value="*" ngModel>
                  <label class="form-check-label">long term</label>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Date:</label>
                <div class="col-sm-6">
                  <input type="date" name="DateIdentification"  ngModel class="form-control">
                </div>
              </div>

              <div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">identification de l'opportunité</label>
                  <div class="col-sm-6 distanceOpportunité ">
                    <div>
                      <input class="form-check-input" type="checkbox" name="Consistency"  value="*" ngModel>
                      <label class="form-check-label" >Coherence</label><br>
                    </div>
                    <input class="form-check-input" type="checkbox" name="Alignment" value="*" ngModel>
                    <label class="form-check-label">Allignement</label><br>
                    <input class="form-check-input" type="checkbox" name="Presence" value="*" ngModel>
                    <label class="form-check-label">Presence</label><br>
                    <input class="form-check-input" type="checkbox" name="Skills" value="*" ngModel>
                    <label class="form-check-label">Competences</label><br>
                    <input class="form-check-input" type="checkbox" name="Continuity" value="*" ngModel>
                    <label class="form-check-label">Continute</label><br>
                    <input class="form-check-input" type="checkbox" name="Gain" value="*" ngModel>
                    <label class="form-check-label">Gain</label>
                  </div>
                </div>


              </div>

             <h2 class="evaluation">Evaluation</h2>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Efforts:</label>
                <div class="col-sm-6">
                  <select name="Efforts" placeholder="nom cat"  ngModel type="number" class="form-control" >
                    <option value="">--Gravité--</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>

                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Aventage:</label>
                <div class="col-sm-6">
                  <select name="Advantage" placeholder="nom cat"  ngModel type="number" class="form-control" >
                    <option value="">--Gravité--</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>

                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">processus</label>
                <div class="col-sm-6">
                  <select name="idprocess" placeholder="nom cat"  ngModel type="number" class="form-control" >
                    <option value="">--choisir processus--</option>
                    <option *ngFor="let c of Process" value="{{c.id}}">{{c.Process}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Strategique</label>
                <div class="col-sm-6">
                  <select name="idstrategic" placeholder="nom cat"  ngModel type="number" class="form-control" >
                    <option value="">--choisir processus--</option>
                    <option *ngFor="let c of Strategique" value="{{c.id}}">{{c.NameStrategicOpportunity}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">etat du risque</label>
                <div class="col-sm-6">
                  <select name="idStateOpportunity" placeholder="nom cat"  ngModel type="number" class="form-control" >
                    <option value="">--choisir processus--</option>
                    <option *ngFor="let c of EtatOpportunite" value="{{c.id}}">{{c.NameStateOpportunity}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Commentaire:</label>
                <div class="col-sm-6">
                  <input type="text" name="Comment"  ngModel class="form-control">
                </div>
              </div>
              <div class="distance">
                <button class="btn btn-danger" routerLink="/risque" style="float: left">Annuler</button>
              </div>
              <div class="col-sm-8">
                <button class="btn btn-primary "  style="float: right"  >create</button>
              </div>
            </form>


    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>

