<div>
  <form>
  <div>
    <select name="EffortReevaluation" placeholder="role"  [(ngModel)]="data.EffortReevaluation">

      <option value="">--choisir efforts--</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div>
    <select name="AdvantageReevaluation" placeholder="Aventage"  [(ngModel)]="data.AventageReevaluation">

      <option value="">--choisir Aventage--</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>

  <div>
    <select  name="idstrategicReevaluation" placeholder="nom cat" [(ngModel)]="data.idstrategicReevaluation" type="number" >

      <option value="">--choisir strategique--</option>
      <option *ngFor="let c of Strategique" value="{{c.id}}">{{c.NameStrategicOpportunity}}</option>

    </select>
  </div>
  <div>
    <select name="idprocessReevaluation" placeholder="nom cat" id="pet-select" [(ngModel)]="data.idprocessReevaluation" type="number" >

      <option value="">--choisir processus--</option>
      <option *ngFor="let c of Process" value="{{c.id}}" >{{c.Process}}</option>

    </select>
  </div>

  <div>
    <select name="idStateOpportunityReevaluation" placeholder="Aventage"  [(ngModel)]="data.idStateOpportunityReevaluation">
      <option value="">--choisir votre role--</option>
      <option *ngFor="let c of EtatOpportunite" value="{{c.id}}" >{{c.NameStateOpportunity}}</option>

    </select>
  </div>

    <button class="btn btn-danger" (click)="onNoClick()" style="float: left">Annuler</button>

    <button class="btn btn-primary "  style="float: right"  (click)="reevaluationOpportunite()" >create</button>
  </form>
</div>
