
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content" >
      <button class="btn btn-primary " (click)="CreateStateOpportunity()">ajouter etat</button>
      <div class="card col-md-6">

        <table class="table">
          <thead class=" text-primary">
          <tr>
            <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let c of stateOpportunity">
            <td>{{c.id}}</td>
            <td>{{c.NameStateOpportunity}}</td>
            <td></td>
            <td><button class="btn btn-danger" (click)="delateStateOpportunity(c.id)">supp</button></td>
          </tr>
          </tbody>
        </table>

      </div>


    </div>

  </div>
</div>

<fixedplugin-cmp></fixedplugin-cmp>
