<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="form">
      <svg class="bi bi-search" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
           style="float: right" (click)="DisplaiHelp()">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
      </svg>
      </div>

        <div >
          <h3> Périmètre d'application de managment </h3>
        </div>
        <form  >
          <div>
            <textarea name="perimetre" [(ngModel)]="perimeter" class="col-md-10"> </textarea>

          </div>
          <button (click)="saveperimetre()" class="btn text-white colorbleu btn-sm" style="text-transform:none" >Afficher</button>
        </form>


        <div class="card mt-1">
          <h3>{{ displayperimeter }}</h3>
        </div>

        <div >
          <h3> Politique </h3>
        </div>
        <form >
          <div>
            <textarea name="politique" [(ngModel)]="Politics" class="col-md-10"> </textarea>
          </div>
          <button (click)="savepolitique()" class="btn text-white colorbleu btn-sm" style="text-transform:none" >Afficher</button>
        </form>


        <div class="card mt-1">
          <h3>{{ displayPolitics }}</h3>
        </div>

      <button class="btn colororange text-white mb-1" (click)="CreateProcess()" style="text-transform:none"  >+ Ajouter processus </button>
      <div class="card col-md-10">

        <table class="table" >
          <thead class=" text-primary">
          <tr>
            <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let c of Process">
            <td>{{c.Process}}</td>
            <td>{{c.PerformanceIndicator}}</td>
            <td>{{c.Pilot}}</td>
            <td>

                <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
                  <mat-icon (click)="delateProcess(c)" class="text-white">delete</mat-icon>
                </button>

              </td>

            <td ></td>

          </tr>

          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>







