<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <button routerLink="/ajouterRisque" class="btn btn-success">ajouter un risque</button>
        <button (click)="DisplayStake()" class="btn btn-warning" >enjeux</button>
        <button (click)="DisplayPIpertinante()" class="btn btn-warning">pipertinante</button>
        <div style="float: left" >
          <button class="btn btn-primary" routerLink="/RisqueCategories" style="float: left">gerer categorie</button>
        </div>
        <div style="float: left" >
          <button class="btn btn-primary" routerLink="/historiqueRisque" style="float: left">historique</button>
        </div>
        <div style="float: left" >
          <button class="btn btn-primary" routerLink="/strategiqueRisque" style="float: left">gerer strategique</button>
          <button class="btn btn-primary" routerLink="/etatRisque" style="float: left">gerer etat</button>
        </div>

        <svg class="bi bi-search" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="float: right" (click)="helpRisuqe()">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
        </svg>
        <button class="btn btn-simple" (click)="definitionRisk()" style="float: right">definition</button>
        <div style="float: left" >
          <button class="btn btn-primary" (click)="saveHistoricalRisk()" style="float: left">Enregister etat</button>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Risque</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary" >
                  <tr>
                    <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
                  </tr>

                  </thead>
                  <tbody>
                  <tr *ngFor="let c of users">
                    <td>{{c.id}}</td>
                    <td>{{c.CategoryRisk.nameCategoryRisk}}</td>
                    <td>{{c.Description}}</td>
                    <td>{{c.ShortTerm}}</td>
                    <td>{{c.MediumTerm}}</td>
                    <td>{{c.LongTerm}}</td>
                    <td>{{c.DateIdentification}}</td>
                    <td>{{c.Causes}}</td>
                    <td>{{c.Censequence}}</td>
                    <td>{{c.Gravity}}</td>
                    <td>{{c.Probability}}</td>
                    <td>{{c.detectability}}</td>
                    <td>{{c.Criticality}}</td>
                    <td *ngIf="c.Decision == 'stop'" class="bg-danger">{{c.Decision}}</td>
                    <td *ngIf="c.Decision == 'Attention !!'" class="text-warning">{{c.Decision}}</td>
                    <td *ngIf="c.Decision == 'Ok'" class="bg-success">{{c.Decision}}</td>
                    <td>{{c.StrategicRisk.nameStrategicRisk}}</td>
                    <td>{{c.Process.process}}</td>
                    <td>  <p *ngFor="let p of c.actionPlans "> {{ p.id}}</p> </td>
                    <td  *ngIf="c.StateRisk.nameStateRisk == 'Fermé'" class="bg-warning" >{{c.StateRisk.nameStateRisk}}</td>
                    <td  *ngIf="c.StateRisk.nameStateRisk == 'Ouvert'" class="text-danger" >{{c.StateRisk.nameStateRisk}}</td>
                    <td  *ngIf="c.StateRisk.nameStateRisk == 'Cloturé'" class="bg-success" >{{c.StateRisk.nameStateRisk}}</td>
                    <td  *ngIf="c.StateRisk.nameStateRisk == 'En cours de traitement'" class="text-success" >{{c.StateRisk.nameStateRisk}}</td>
                    <td>{{c.Comment}}</td>

                    <td>{{c.Pilote}}</td>
                    <td ></td>

                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-break">Seul d'acceptance : 16</h3>
      <h3 class="text-break">Seul d'attention : 32</h3>
      <div class="col-md-4" >
        <table class="table card">
          <thead>
          <th>Etat du risque</th>
          <th>Explication</th>
          </thead>
          <tbody>
          <tr>
            <td>Ouvert</td>
            <td>Le risque n'est pas encore traité </td>
          </tr>
          <tr>
            <td>En cours de traitement</td>
            <td>Risque en cours de traitement pour le limiter   </td>
          </tr>
          <tr>
            <td>Fermé</td>
            <td>Risque fermé mais on peut le revoir   </td>
          </tr>
          <tr>
            <td>Clôturé</td>
            <td>Le risque ne peut jamais réapparaitre </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>

