<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <button routerLink="/ajouterRisque" class="btn colororange ml-3">+ Ajouter un risque</button>
        <button (click)="DisplayStake()" class="btn colororange ml-1" >Enjeux</button>
        <button (click)="DisplayPIRelevant()" class="btn colororange ml-1">PI pertinente</button>


          <button class="btn colororange ml-1" routerLink="/historiqueRisque" style="float: left">Historique</button>

        <svg class="bi bi-gear-fill ml-1" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" routerLink="/reflextionguideRisque">
          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
        </svg>

        <svg class="bi bi-search ml-1" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="float: right" (click)="helpRisk()">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
        </svg>
        <button class="btn colorbleu text-white ml-1" (click)="definitionRisk()" style="float: right">Définition</button>

        <button class="btn colorbleu text-white ml-1" (click)="saveHistoricalRisk()" style="float: left">Enregister l'état</button>

        <div class="col-md-12 mt-1">
          <div >
            <div class="card-header colorbleu textOpportunite text-white">
              <h4 class="card-title"> Risque</h4>
            </div>
            <div >
              <div class="card table-responsive">
                <table class="table">
                  <thead  >
                  <tr>

                    <td colspan="9" class="colorbleuf textOpportunite ">Identification du risque</td>
                    <td colspan="9" class=" colorbleu textOpportunite text-white">Evaluation risque</td>
                    <td colspan="1" class="colorbleuf textOpportunite  ">Commentaire</td>
                  </tr>
                  <tr>
                    <th *ngFor="let c of hidder" class="bordertd colorbleuf ">{{c}}</th><td></td><td></td><td></td>
                  </tr>

                  </thead>
                  <tbody>
                  <tr *ngFor="let c of Risk">
                    <td class="bordertd">Ris{{c.id}}</td>
                    <td class="bordertd">{{c.CategoryRisk.nameCategoryRisk}}</td>
                    <td class="bordertd">{{c.Description}}</td>
                    <td class="bordertd">{{c.ShortTerm}}</td>
                    <td class="bordertd">{{c.MediumTerm}}</td>
                    <td class="bordertd">{{c.LongTerm}}</td>
                    <td class="bordertd">{{c.DateIdentification}}</td>
                    <td class="bordertd">{{c.Causes}}</td>
                    <td class="bordertd">{{c.Censequence}}</td>
                    <td class="bordertd">{{c.Gravity}}</td>
                    <td class="bordertd">{{c.Probability}}</td>
                    <td class="bordertd">{{c.detectability}}</td>
                    <td class="bordertd">{{c.Criticality}}</td>
                    <td *ngIf="c.Decision == 'stop'" class="bg-danger bordertd">{{c.Decision}}</td>
                    <td *ngIf="c.Decision == 'Attention !!'" class="text-warning bordertd">{{c.Decision}}</td>
                    <td *ngIf="c.Decision == 'Ok'" class="bg-success bordertd">{{c.Decision}}</td>
                    <td class="bordertd">{{c.StrategicRisk.nameStrategicRisk}}</td>
                    <td class="bordertd">{{c.Process.process}}</td>
                    <td class="bordertd">  <p *ngFor="let p of c.actionPlans "> {{ p.id}}</p> </td>
                    <td  *ngIf="c.StateRisk.nameStateRisk == 'Fermé'" class="bg-warning bordertd" >{{c.StateRisk.nameStateRisk}}</td>
                    <td  *ngIf="c.StateRisk.nameStateRisk == 'Ouvert'" class="text-danger bordertd" >{{c.StateRisk.nameStateRisk}}</td>
                    <td  *ngIf="c.StateRisk.nameStateRisk == 'Cloturé'" class="bg-success bordertd" >{{c.StateRisk.nameStateRisk}}</td>
                    <td  *ngIf="c.StateRisk.nameStateRisk == 'En cours de traitement'" class="text-success bordertd" >{{c.StateRisk.nameStateRisk}}</td>
                    <td class="bordertd">{{c.Comment}}</td>

                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form">
      <button class="btn colororange ml-1" routerLink="/RisqueCategories" *ngIf="CreateRole()">Gérer les catégories</button>
      <button class="btn colororange ml-1" routerLink="/strategiqueRisque" *ngIf="CreateRole()" >Gérer les stratégies</button>
      <button class="btn colororange " routerLink="/etatRisque" style="float: left" *ngIf="CreateRole()">Gérer l'état</button>
      </div>
      <div class="card col-md-6 mt-1">
      <h3 class="text-break">Seuil d'acceptance : 16</h3>
      <h3 class="text-break">Seuil d'attention : 32</h3>
      </div>
      <div class="col-md-4  mt-1" >
        <table class="table ">
          <thead>
          <th>Etat du risque</th>
          <th>Explication</th>
          </thead>
          <tbody>
          <tr>
            <td>Ouvert</td>
            <td>Le risque n'est pas encore traité </td>
          </tr>
          <tr>
            <td>En cours de traitement</td>
            <td>Risque en cours de traitement pour le limiter   </td>
          </tr>
          <tr>
            <td>Fermé</td>
            <td>Risque fermé mais on peut le revoir   </td>
          </tr>
          <tr>
            <td>Clôturé</td>
            <td>Le risque ne peut jamais réapparaitre </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


