.colorbleu{
  background-color:#124977;

}
.colororange{
  background-color:#EE8900;
}

.colorbleuf{
  background-color: #7a9e9f;
}

.colorsoftbleu{
  background-color: #86ccdc;
}
.textOpportunite{

  text-align: center;
}
