
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">

      <div class="colorbleu text-white">
        <h1>Objectif</h1>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Enjeu</label>
        <div class="col-sm-4">
          <select name="idStake" placeholder="nom cat"  [(ngModel)]="Description" (click)="DisplayObjective()" type="number" class="form-control" >
            <option value="">--choisir enjeu--</option>

            <option *ngFor="let c of Stake" value="{{c.Description}}">{{c.Description}}</option>

          </select>
        </div>
      </div>
      <div >
     <button class="btn colororange" (click)="allObjective = !allObjective" >Afficher</button>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Objectif</label>
        <div class="col-sm-4">
          <select name="idStake" placeholder="nom cat"  [(ngModel)]="DescriptionHistorical" (click)="DisplayObjectivebyDescription()"  type="number" class="form-control" >
            <option value="">--choisir objectif--</option>

            <option *ngFor="let c of Objective" value="{{c.Description}}">{{c.Description}}</option>

          </select>
        </div>
      </div>

      <button class="btn colororange" (click)="allbyObjective = !allbyObjective"  >Afficher</button>

      <div class="col-md-8 card" >
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels "
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>
      <div *ngIf="allObjective"  class="table-responsive card">
      <table class="table " >
        <thead class=" text-primary">
        <tr>
          <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let c of Objective  | paginate: { itemsPerPage : 5 , currentPage:p }">
          <td>{{c.id}}</td>
          <td>{{c.Description}}</td>
          <td>{{c.Stake}}</td>
          <td>{{c.Time1}}</td>
          <td>{{c.Time2}}</td>
          <td>{{c.Time3}}</td>
          <td>{{c.Time4}}</td>
          <td>{{c.Time2020}}</td>
          <td>{{c.Time2021}}</td>
          <td>{{c.Processlie}}</td>
          <td>{{c.PredefinedIndicator}}</td>
          <td>{{c.PerformanceIndicator}}</td>
          <td>{{c.ObjectiveToWait}}</td>
          <td>{{c.InitialState}}</td>
          <td>  <p *ngFor="let p of c.NumAction "> {{ p}}</p> </td>
          <td>{{c.Advancement}}</td>
          <td>{{c.Comment}}</td>
          <td>{{c.Date | date }}</td>
        </tr>

        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

      <div *ngIf="allbyObjective" class="table-responsive card" >
      <table class="table" >
        <thead class=" text-primary">
        <tr>
          <th *ngFor="let c of hidder"><h5 >{{c}}</h5></th><td></td><td></td><td></td>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let c of Objectivebyid  | paginate: { itemsPerPage : 5 , currentPage:p }">
          <td>{{c.id}}</td>
          <td>{{c.Description}}</td>
          <td>{{c.Stake}}</td>
          <td>{{c.Time1}}</td>
          <td>{{c.Time2}}</td>
          <td>{{c.Time3}}</td>
          <td>{{c.Time4}}</td>
          <td>{{c.Time2020}}</td>
          <td>{{c.Time2021}}</td>
          <td>{{c.Processlie}}</td>
          <td>{{c.PredefinedIndicator}}</td>
          <td>{{c.PerformanceIndicator}}</td>
          <td>{{c.ObjectiveToWait}}</td>
          <td>{{c.InitialState}}</td>
          <td>  <p *ngFor="let p of c.NumAction "> {{ p}}</p> </td>
          <td>{{c.Advancement}}</td>
          <td>{{c.Comment}}</td>
          <td>{{c.Date | date }}</td>
        </tr>

        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

<div class="colorbleu text-white">
  <h1>Risque</h1>
</div>
 <h3 class="text-warning">Etat de risque</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataEtatRisque"
                [labels]="pieChartLabelsEtatRisque" [colors]="chartColorsEtatRisque"
                [labels]="chartLabelsEtatRisque" [colors]="chartColorsEtatRisque" [chartType]="pieChartTypeEtatRisque"></canvas>
      </div>


<h3 class="text-warning">Catégorie de risque</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartData"
                [labels]="pieChartLabels" [colors]="chartColors"
                [labels]="chartLabels" [colors]="chartColors" [chartType]="pieChartType"></canvas>
      </div>

      <div class="colorbleu text-white">
        <h1>Opportunite</h1>
      </div>
      <h3 class="text-warning">Etat de l'opportunité</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataEtatOpportunite"
                [labels]="pieChartLabelsEtatOpportunite" [colors]="chartColorsEtatOpportunite"
                [labels]="chartLabelsEtatOpportunite" [colors]="chartColorsEtatOpportunite" [chartType]="pieChartTypeEtatOpportunite"></canvas>
      </div>
      <h3 class="text-warning">Catégorie opportunite</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataCategorieOpportunite"
                [labels]="pieChartLabelsCategorieOpportunite" [colors]="chartColorsCategorieOpportunite"
                [labels]="chartLabelsCategorieOpportunite" [colors]="chartColorsCategorieOpportunite" [chartType]="pieChartTypeCategorieOpportunite"></canvas>
      </div>
      <div class="colorbleu text-white">
        <h1>Plan d'action</h1>
      </div>
      <h3 class="text-warning">Etat actuel</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataCurrentState"
                [labels]="pieChartLabelsCurrentState" [colors]="chartColorsCurrentState"
                [labels]="chartLabelsCurrentState" [colors]="chartColorsCurrentState" [chartType]="pieChartTypeCurrentState"></canvas>
      </div>
      <h3 class="text-warning">Etat d'efficacité</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataStateEfficacity"
                [labels]="pieChartLabelsStateEfficacity" [colors]="chartColorsStateEfficacity"
                [labels]="chartLabelsStateEfficacity" [colors]="chartColorsStateEfficacity" [chartType]="pieChartTypeStateEfficacity"></canvas>
      </div>


      <h3 class="text-warning">Avancement par process</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataAdvencementByProcess"
                [labels]="pieChartLabelsAdvencementByProcess" [colors]="chartColorsAdvencementByProcess"
                [labels]="chartLabelsAdvencementByProcess" [colors]="chartColorsAdvencementByProcess" [chartType]="pieChartTypeAdvencementByProcess"></canvas>
      </div>

      <h3 class="text-warning">Avancement par délai</h3>
      <div class="card">
      <table class="table ">
        <thead>
        <tr>
         <th>Prosessus</th>
         <th>Délai</th>
         <th>Avancement</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of advencementbytimelimit">
          <td>{{c.process}}</td>
          <td > {{c.Delai}}</td>
          <td > {{c.Advancement}}</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>






