
<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
<div class="bg-primary">
  <h1>RISQUE</h1>
</div>
 <h3 class="text-success">Etat de risque</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataEtatRisque"
                [labels]="pieChartLabelsEtatRisque" [colors]="chartColorsEtatRisque"
                [labels]="chartLabelsEtatRisque" [colors]="chartColorsEtatRisque" [chartType]="pieChartTypeEtatRisque"></canvas>
      </div>


<h3 class="text-success">Categories risque</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartData"
                [labels]="pieChartLabels" [colors]="chartColors"
                [labels]="chartLabels" [colors]="chartColors" [chartType]="pieChartType"></canvas>
      </div>

      <div class="bg-primary">
        <h1>Opportunite</h1>
      </div>
      <h3 class="text-success">Etat Opportunite</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataEtatOpportunite"
                [labels]="pieChartLabelsEtatOpportunite" [colors]="chartColorsEtatOpportunite"
                [labels]="chartLabelsEtatOpportunite" [colors]="chartColorsEtatOpportunite" [chartType]="pieChartTypeEtatOpportunite"></canvas>
      </div>
      <h3 class="text-success">Categories Opportunite</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataCategorieOpportunite"
                [labels]="pieChartLabelsCategorieOpportunite" [colors]="chartColorsCategorieOpportunite"
                [labels]="chartLabelsCategorieOpportunite" [colors]="chartColorsCategorieOpportunite" [chartType]="pieChartTypeCategorieOpportunite"></canvas>
      </div>
      <div class="bg-primary">
        <h1>plan d'action</h1>
      </div>
      <h3 class="text-success">etat actuel</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataCurrentState"
                [labels]="pieChartLabelsCurrentState" [colors]="chartColorsCurrentState"
                [labels]="chartLabelsCurrentState" [colors]="chartColorsCurrentState" [chartType]="pieChartTypeCurrentState"></canvas>
      </div>
      <h3 class="text-success">etat d'efficacité</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataStateEfficacity"
                [labels]="pieChartLabelsStateEfficacity" [colors]="chartColorsStateEfficacity"
                [labels]="chartLabelsStateEfficacity" [colors]="chartColorsStateEfficacity" [chartType]="pieChartTypeStateEfficacity"></canvas>
      </div>

      <h3 class="text-success">etat par process</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataCurrentStateByProcess"
                [labels]="pieChartLabelsCurrentStateByProcess" [colors]="chartColorsCurrentStateByProcess"
                [labels]="chartLabelsCurrentStateByProcess" [colors]="chartColorsCurrentStateByProcess" [chartType]="pieChartTypeCurrentStateByProcess"></canvas>
      </div>
      <h3 class="text-success">avencement par process</h3>
      <div style="display: block">
        <canvas baseChart [data]="pieChartDataAdvencementByProcess"
                [labels]="pieChartLabelsAdvencementByProcess" [colors]="chartColorsAdvencementByProcess"
                [labels]="chartLabelsAdvencementByProcess" [colors]="chartColorsAdvencementByProcess" [chartType]="pieChartTypeAdvencementByProcess"></canvas>
      </div>

      <h3 class="text-success">avencement par délai</h3>
      <div class="card">
      <table class="table ">
        <thead>
        <tr>
         <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of advencementbytimelimit">
          <td>{{c.Process}}</td>
          <td *ngFor="let a of c.actionPlans "  > <p>{{a.Delai}}</p>{{a.Advancement}}</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>





