.position{
  text-align: center;
}
.colorLogin{
  background-color:#EE8900;
  }
.centrer{
  background-color:#124977;
  text-align: center;
}
.centrerbutton{
  text-align: center;
}
.position1{
  margin-left: 15px;
}
